<div align="center">
  <div class='boxxq'>
    <div class='boxxqtop'>
      <div> </div>
    </div>
    <div class='boxxqcontent'>
      <h3><%= l(:notice_account_lost_email_sent) %></h3>
      <p style="font-size: 93%;font-style: italic;"> <%= l(:mail_spam) %></p>
    </div>
    <div class='boxxqbottom'>
      <div> </div>
    </div>
  </div>
</div>
