<div id="signin">
  <h3><%= l(:signup_label_12) %></h3>
  <br/>
  <%= l(:signup_label_13) %> <br/>
  <%= l(:signup_label_14) %> <br/>
  <%= l(:signup_label_15) %><a href="http://www.teskal.com/"> Teskal</a>.
</div>
