     <!-- Teskal test7 -->

<h2><%=l(:test7)%></h2>
<br/>
<div id="intro"><%=l(:test7_intro)%></div>
<br/>
<div id="values"> <%=l(:test7_valor_1)%>
  <•>
  <•>
  <•>
  <•>
  <•>
  <•>
  <%=l(:test7_valor_7)%> <br/>
  <br/>
</div>
<center>
  <table cellspacing="0">
    <!-- <caption><%=l(:test7)%></caption> -->
    <thead>
      <tr>
        <th>##</th>
		<th scope="col"><div align="left"><%=l(:test7_header)%></div></th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
		<th scope="col"></th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
        <th scope="col">5</th>
        <th scope="col">6</th>
        <th scope="col">7</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <td>1</td>
		<td><%=l(:test7_1)%></td>
        <td><input type="radio" name="answer[answ1]" value="1" id="answer_answ1_1"/></td>
        <td><input type="radio" name="answer[answ1]" value="2" id="answer_answ1_2"/></td>
        <td><input type="radio" name="answer[answ1]" value="3" id="answer_answ1_3"/></td>
        <td><input type="radio" name="answer[answ1]" value="4" id="answer_answ1_4"/></td>
        <td><input type="radio" name="answer[answ1]" value="5" id="answer_answ1_5"/></td>
        <td><input type="radio" name="answer[answ1]" value="6" id="answer_answ1_6"/></td>
        <td><input type="radio" name="answer[answ1]" value="7" id="answer_answ1_7"/></td>
      </tr>
      <tr class="odd">
        <td>2</td>
		<td><%=l(:test7_2)%></td>
        <td><input type="radio" name="answer[answ2]" value="1" id="answer_answ2_1"/></td>
        <td><input type="radio" name="answer[answ2]" value="2" id="answer_answ2_2"/></td>
        <td><input type="radio" name="answer[answ2]" value="3" id="answer_answ2_3"/></td>
        <td><input type="radio" name="answer[answ2]" value="4" id="answer_answ2_4"/></td>
        <td><input type="radio" name="answer[answ2]" value="5" id="answer_answ2_5"/></td>
        <td><input type="radio" name="answer[answ2]" value="6" id="answer_answ2_6"/></td>
        <td><input type="radio" name="answer[answ2]" value="7" id="answer_answ2_7"/></td>
      </tr>
      <tr>
        <td>3</td>
		<td><%=l(:test7_3)%></td>
        <td><input type="radio" name="answer[answ3]" value="1" id="answer_answ3_1"/></td>
        <td><input type="radio" name="answer[answ3]" value="2" id="answer_answ3_2"/></td>
        <td><input type="radio" name="answer[answ3]" value="3" id="answer_answ3_3"/></td>
        <td><input type="radio" name="answer[answ3]" value="4" id="answer_answ3_4"/></td>
        <td><input type="radio" name="answer[answ3]" value="5" id="answer_answ3_5"/></td>
        <td><input type="radio" name="answer[answ3]" value="6" id="answer_answ3_6"/></td>
        <td><input type="radio" name="answer[answ3]" value="7" id="answer_answ3_7"/></td>
      </tr>
      <tr class="odd">
        <td>4</td>
		<td><%=l(:test7_4)%></td>
        <td><input type="radio" name="answer[answ4]" value="1" id="answer_answ4_1"/></td>
        <td><input type="radio" name="answer[answ4]" value="2" id="answer_answ4_2"/></td>
        <td><input type="radio" name="answer[answ4]" value="3" id="answer_answ4_3"/></td>
        <td><input type="radio" name="answer[answ4]" value="4" id="answer_answ4_4"/></td>
        <td><input type="radio" name="answer[answ4]" value="5" id="answer_answ4_5"/></td>
        <td><input type="radio" name="answer[answ4]" value="6" id="answer_answ4_6"/></td>
        <td><input type="radio" name="answer[answ4]" value="7" id="answer_answ4_7"/></td>
      </tr>
      <tr>
        <td>5</td>
		<td><%=l(:test7_5)%></td>
        <td><input type="radio" name="answer[answ5]" value="1" id="answer_answ5_1"/></td>
        <td><input type="radio" name="answer[answ5]" value="2" id="answer_answ5_2"/></td>
        <td><input type="radio" name="answer[answ5]" value="3" id="answer_answ5_3"/></td>
        <td><input type="radio" name="answer[answ5]" value="4" id="answer_answ5_4"/></td>
        <td><input type="radio" name="answer[answ5]" value="5" id="answer_answ5_5"/></td>
        <td><input type="radio" name="answer[answ5]" value="6" id="answer_answ5_6"/></td>
        <td><input type="radio" name="answer[answ5]" value="7" id="answer_answ5_7"/></td>
      </tr>
      <tr class="odd">
        <td>6</td>
		<td><%=l(:test7_6)%></td>
        <td><input type="radio" name="answer[answ6]" value="1" id="answer_answ6_1"/></td>
        <td><input type="radio" name="answer[answ6]" value="2" id="answer_answ6_2"/></td>
        <td><input type="radio" name="answer[answ6]" value="3" id="answer_answ6_3"/></td>
        <td><input type="radio" name="answer[answ6]" value="4" id="answer_answ6_4"/></td>
        <td><input type="radio" name="answer[answ6]" value="5" id="answer_answ6_5"/></td>
        <td><input type="radio" name="answer[answ6]" value="6" id="answer_answ6_6"/></td>
        <td><input type="radio" name="answer[answ6]" value="7" id="answer_answ6_7"/></td>
      </tr>
      <tr>
        <td>7</td>
		<td><%=l(:test7_7)%></td>
        <td><input type="radio" name="answer[answ7]" value="1" id="answer_answ7_1"/></td>
        <td><input type="radio" name="answer[answ7]" value="2" id="answer_answ7_2"/></td>
        <td><input type="radio" name="answer[answ7]" value="3" id="answer_answ7_3"/></td>
        <td><input type="radio" name="answer[answ7]" value="4" id="answer_answ7_4"/></td>
        <td><input type="radio" name="answer[answ7]" value="5" id="answer_answ7_5"/></td>
        <td><input type="radio" name="answer[answ7]" value="6" id="answer_answ7_6"/></td>
        <td><input type="radio" name="answer[answ7]" value="7" id="answer_answ7_7"/></td>
      </tr>
      <tr class="odd">
        <td>8</td>
		<td><%=l(:test7_8)%></td>
        <td><input type="radio" name="answer[answ8]" value="1" id="answer_answ8_1"/></td>
        <td><input type="radio" name="answer[answ8]" value="2" id="answer_answ8_2"/></td>
        <td><input type="radio" name="answer[answ8]" value="3" id="answer_answ8_3"/></td>
        <td><input type="radio" name="answer[answ8]" value="4" id="answer_answ8_4"/></td>
        <td><input type="radio" name="answer[answ8]" value="5" id="answer_answ8_5"/></td>
        <td><input type="radio" name="answer[answ8]" value="6" id="answer_answ8_6"/></td>
        <td><input type="radio" name="answer[answ8]" value="7" id="answer_answ8_7"/></td>
      </tr>
      <tr>
        <td>9</td>
		<td><%=l(:test7_9)%></td>
        <td><input type="radio" name="answer[answ9]" value="1" id="answer_answ9_1"/></td>
        <td><input type="radio" name="answer[answ9]" value="2" id="answer_answ9_2"/></td>
        <td><input type="radio" name="answer[answ9]" value="3" id="answer_answ9_3"/></td>
        <td><input type="radio" name="answer[answ9]" value="4" id="answer_answ9_4"/></td>
        <td><input type="radio" name="answer[answ9]" value="5" id="answer_answ9_5"/></td>
        <td><input type="radio" name="answer[answ9]" value="6" id="answer_answ9_6"/></td>
        <td><input type="radio" name="answer[answ9]" value="7" id="answer_answ9_7"/></td>
      </tr>
      <tr class="odd">
        <td>10</td>
		<td><%=l(:test7_10)%></td>
        <td><input type="radio" name="answer[answ10]" value="1" id="answer_answ10_1"/></td>
        <td><input type="radio" name="answer[answ10]" value="2" id="answer_answ10_2"/></td>
        <td><input type="radio" name="answer[answ10]" value="3" id="answer_answ10_3"/></td>
        <td><input type="radio" name="answer[answ10]" value="4" id="answer_answ10_4"/></td>
        <td><input type="radio" name="answer[answ10]" value="5" id="answer_answ10_5"/></td>
        <td><input type="radio" name="answer[answ10]" value="6" id="answer_answ10_6"/></td>
        <td><input type="radio" name="answer[answ10]" value="7" id="answer_answ10_7"/></td>
      </tr>
      <tr>
        <td>11</td>
		<td><%=l(:test7_11)%></td>
        <td><input type="radio" name="answer[answ11]" value="1" id="answer_answ11_1"/></td>
        <td><input type="radio" name="answer[answ11]" value="2" id="answer_answ11_2"/></td>
        <td><input type="radio" name="answer[answ11]" value="3" id="answer_answ11_3"/></td>
        <td><input type="radio" name="answer[answ11]" value="4" id="answer_answ11_4"/></td>
        <td><input type="radio" name="answer[answ11]" value="5" id="answer_answ11_5"/></td>
        <td><input type="radio" name="answer[answ11]" value="6" id="answer_answ11_6"/></td>
        <td><input type="radio" name="answer[answ11]" value="7" id="answer_answ11_7"/></td>
      </tr>
      <tr class="odd">
        <td>12</td>
		<td><%=l(:test7_12)%></td>
        <td><input type="radio" name="answer[answ12]" value="1" id="answer_answ12_1"/></td>
        <td><input type="radio" name="answer[answ12]" value="2" id="answer_answ12_2"/></td>
        <td><input type="radio" name="answer[answ12]" value="3" id="answer_answ12_3"/></td>
        <td><input type="radio" name="answer[answ12]" value="4" id="answer_answ12_4"/></td>
        <td><input type="radio" name="answer[answ12]" value="5" id="answer_answ12_5"/></td>
        <td><input type="radio" name="answer[answ12]" value="6" id="answer_answ12_6"/></td>
        <td><input type="radio" name="answer[answ12]" value="7" id="answer_answ12_7"/></td>
      </tr>
      <tr>
        <td>13</td>
		<td><%=l(:test7_13)%></td>
        <td><input type="radio" name="answer[answ13]" value="1" id="answer_answ13_1"/></td>
        <td><input type="radio" name="answer[answ13]" value="2" id="answer_answ13_2"/></td>
        <td><input type="radio" name="answer[answ13]" value="3" id="answer_answ13_3"/></td>
        <td><input type="radio" name="answer[answ13]" value="4" id="answer_answ13_4"/></td>
        <td><input type="radio" name="answer[answ13]" value="5" id="answer_answ13_5"/></td>
        <td><input type="radio" name="answer[answ13]" value="6" id="answer_answ13_6"/></td>
        <td><input type="radio" name="answer[answ13]" value="7" id="answer_answ13_7"/></td>
      </tr>
      <tr class="odd">
        <td>14</td>
		<td><%=l(:test7_14)%></td>
        <td><input type="radio" name="answer[answ14]" value="1" id="answer_answ14_1"/></td>
        <td><input type="radio" name="answer[answ14]" value="2" id="answer_answ14_2"/></td>
        <td><input type="radio" name="answer[answ14]" value="3" id="answer_answ14_3"/></td>
        <td><input type="radio" name="answer[answ14]" value="4" id="answer_answ14_4"/></td>
        <td><input type="radio" name="answer[answ14]" value="5" id="answer_answ14_5"/></td>
        <td><input type="radio" name="answer[answ14]" value="6" id="answer_answ14_6"/></td>
        <td><input type="radio" name="answer[answ14]" value="7" id="answer_answ14_7"/></td>
      </tr>
      <tr>
        <td>15</td>
		<td><%=l(:test7_15)%></td>
        <td><input type="radio" name="answer[answ15]" value="1" id="answer_answ15_1"/></td>
        <td><input type="radio" name="answer[answ15]" value="2" id="answer_answ15_2"/></td>
        <td><input type="radio" name="answer[answ15]" value="3" id="answer_answ15_3"/></td>
        <td><input type="radio" name="answer[answ15]" value="4" id="answer_answ15_4"/></td>
        <td><input type="radio" name="answer[answ15]" value="5" id="answer_answ15_5"/></td>
        <td><input type="radio" name="answer[answ15]" value="6" id="answer_answ15_6"/></td>
        <td><input type="radio" name="answer[answ15]" value="7" id="answer_answ15_7"/></td>
      </tr>
      <tr class="odd">
        <td>16</td>
		<td><%=l(:test7_16)%></td>
        <td><input type="radio" name="answer[answ16]" value="1" id="answer_answ16_1"/></td>
        <td><input type="radio" name="answer[answ16]" value="2" id="answer_answ16_2"/></td>
        <td><input type="radio" name="answer[answ16]" value="3" id="answer_answ16_3"/></td>
        <td><input type="radio" name="answer[answ16]" value="4" id="answer_answ16_4"/></td>
        <td><input type="radio" name="answer[answ16]" value="5" id="answer_answ16_5"/></td>
        <td><input type="radio" name="answer[answ16]" value="6" id="answer_answ16_6"/></td>
        <td><input type="radio" name="answer[answ16]" value="7" id="answer_answ16_7"/></td>
      </tr>
      <tr>
        <td>17</td>
		<td><%=l(:test7_17)%></td>
        <td><input type="radio" name="answer[answ17]" value="1" id="answer_answ17_1"/></td>
        <td><input type="radio" name="answer[answ17]" value="2" id="answer_answ17_2"/></td>
        <td><input type="radio" name="answer[answ17]" value="3" id="answer_answ17_3"/></td>
        <td><input type="radio" name="answer[answ17]" value="4" id="answer_answ17_4"/></td>
        <td><input type="radio" name="answer[answ17]" value="5" id="answer_answ17_5"/></td>
        <td><input type="radio" name="answer[answ17]" value="6" id="answer_answ17_6"/></td>
        <td><input type="radio" name="answer[answ17]" value="7" id="answer_answ17_7"/></td>
      </tr>
      <tr class="odd">
        <td>18</td>
		<td><%=l(:test7_18)%></td>
        <td><input type="radio" name="answer[answ18]" value="1" id="answer_answ18_1"/></td>
        <td><input type="radio" name="answer[answ18]" value="2" id="answer_answ18_2"/></td>
        <td><input type="radio" name="answer[answ18]" value="3" id="answer_answ18_3"/></td>
        <td><input type="radio" name="answer[answ18]" value="4" id="answer_answ18_4"/></td>
        <td><input type="radio" name="answer[answ18]" value="5" id="answer_answ18_5"/></td>
        <td><input type="radio" name="answer[answ18]" value="6" id="answer_answ18_6"/></td>
        <td><input type="radio" name="answer[answ18]" value="7" id="answer_answ18_7"/></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <table cellspacing="0">
    <!-- <caption><%=l(:test1)%></caption> -->
    <thead>
      <tr>
        <th scope="col"><div align="left"><%= l(:field_notes) %></div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><textarea name="answer[note1]" id="note1" cols="60" rows="5"></textarea></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <p><%= submit_tag l(:button_save) %></p>
</center>
<%= link_to 'Back', answers_path %>