<h2><%=l(:test2)%></h2>



<p><label for="answer_answ1"><%=l(:test2_1)%></label><br /> 
<select name="answer[answ5]" >
	<option value="0"><%=l(:valor_0)%></option>
	<option value="1"><%=l(:valor_1)%></option>
	<option value="2"><%=l(:valor_2)%></option>
	<option value="3"><%=l(:valor_3)%></option>
	<option value="4"><%=l(:valor_4)%></option>
	<option value="5"><%=l(:valor_5)%></option>
	<option value="6"><%=l(:valor_6)%></option>
</select>
</p>  
<%= submit_tag l(:button_save) %> 