<h2><%=l(:test3)%></h2> 
<br/> 

<div id="intro"><%=l(:test3_intro)%></div>
<br/> 
<div id="values">
	<%=l(:test3_valor_0)%> •
	 <%=l(:test3_valor_1)%> • 
	 <%=l(:test3_valor_2)%> •
	 <%=l(:test3_valor_3)%> •
	 <%=l(:test3_valor_4)%>
	 <br/><br/>
</div>
<center>
<table cellspacing="0"> 
	<!-- <caption><%=l(:test3)%></caption> -->
	<thead>
		<tr>
			<th scope="col"><div align="left"><%=l(:test3_header1)%></div></th>
			<th scope="col">0</th>
			<th scope="col">1</th>
			<th scope="col">2</th>
			<th scope="col">3</th>
			<th scope="col">4</th>
		</tr>
	</thead> 
	<tbody>
<tr>
   <th><%=l(:test3_1)%></th>
	<td> 
      <input type="radio" name="respuesta[1]" value="0" id="RadioGroup1" /> 
</td>
<td>
      <input type="radio" name="respuesta[1]" value="1" id="RadioGroup1" />
    </td>
	<td>
		  <input type="radio" name="respuesta[1]" value="2" id="RadioGroup1" />
      </td>
	<td>
		<input type="radio" name="respuesta[1]" value="3" id="RadioGroup1" />
      </td>
	<td>
		<input type="radio" name="respuesta[1]" value="4" id="RadioGroup1" />
      </td> 
</tr> 
<tr class="odd">
	<td><%=l(:test3_2)%></td>
	<td> 
      <input type="radio" name="respuesta[2]" value="0" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="1" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="2" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="3" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="4" id="RadioGroup2" />
</td>  
</tr>  
<tr>
	<td><%=l(:test3_3)%></td>
	<td> 
      <input type="radio" name="respuesta[3]" value="0" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="1" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="2" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="3" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="4" id="RadioGroup3" />
</tr>                    
<tr class="odd">
	<td><%=l(:test3_4)%></td>
	<td> 
      <input type="radio" name="respuesta[4]" value="0" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="1" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="2" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="3" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="4" id="RadioGroup4" />
</tr>                    
 <tr>
	<td><%=l(:test3_5)%></td>
	<td> 
      <input type="radio" name="respuesta[5]" value="0" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="1" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="2" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="3" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="4" id="RadioGroup5" />
</tr>                    
<tr class="odd">
	<td><%=l(:test3_6)%></td>
	<td> 
      <input type="radio" name="respuesta[6]" value="0" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="1" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="2" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="3" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="4" id="RadioGroup6" />
</td> 
</tr>                   
<tr>
	<td><%=l(:test3_7)%></td>
	<td> 
      <input type="radio" name="respuesta[7]" value="0" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="1" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="2" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="3" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="4" id="RadioGroup7" />
</td>
</tr>                    
<tr class="odd">
	<td><%=l(:test3_8)%></td>
	<td> 
      <input type="radio" name="respuesta[8]" value="0" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="1" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="2" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="3" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="4" id="RadioGroup8" />
</td> 
</tr>                 
<tr>
	<td><%=l(:test3_9)%></td>
	<td> 
      <input type="radio" name="respuesta[9]" value="0" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="1" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="2" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="3" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="4" id="RadioGroup9" />
</td>
</tr>                    
<tr class="odd">
	<td><%=l(:test3_10)%></td>
	<td> 
      <input type="radio" name="respuesta[10]" value="0" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="1" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="2" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="3" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="4" id="RadioGroup10" />
</td> 
</tr>
<tr>
	<td><%=l(:test3_11)%></td>
	<td> 
      <input type="radio" name="respuesta[11]" value="0" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="1" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="2" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="3" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="4" id="RadioGroup11" />
</td>
</tr>                    
<tr class="odd">
	<td><%=l(:test3_12)%></td>
	<td> 
      <input type="radio" name="respuesta[12]" value="0" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="1" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="2" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="3" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="4" id="RadioGroup12" />
</td>
</tr>
<tr>
	<td><%=l(:test3_13)%></td>
	<td> 
      <input type="radio" name="respuesta[13]" value="0" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="1" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="2" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="3" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="4" id="RadioGroup13" />
</td>
</tr>                     
<tr class="odd">
	<td><%=l(:test3_14)%></td>
	<td> 
      <input type="radio" name="respuesta[14]" value="0" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="1" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="2" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="3" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="4" id="RadioGroup14" />
</td>
</tr>                    
<tr>
	<td><%=l(:test3_15)%></td>
	<td> 
      <input type="radio" name="respuesta[15]" value="0" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="1" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="2" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="3" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="4" id="RadioGroup15" />
</td>                     
<thead>
	<tr>
		<th scope="col"><div align="left"><%=l(:test3_header2)%></div></th>
		<th scope="col">0</th>
		<th scope="col">1</th>
		<th scope="col">2</th>
		<th scope="col">3</th>
		<th scope="col">4</th>
	</tr>
</thead> 
<tr class="odd">
	<td><%=l(:test3_16)%></td>
	<td> 
      <input type="radio" name="respuesta[16]" value="0" id="RadioGroup16" />
</td>
<td>      <input type="radio" name="respuesta[16]" value="1" id="RadioGroup16" />
</td>
<td>      <input type="radio" name="respuesta[16]" value="2" id="RadioGroup16" />
</td>
<td>      <input type="radio" name="respuesta[16]" value="3" id="RadioGroup16" />
</td>
<td>      <input type="radio" name="respuesta[16]" value="4" id="RadioGroup16" />
</td>                     
</tr>
<tr>
	<td><%=l(:test3_17)%></td>
	<td> 
      <input type="radio" name="respuesta[17]" value="0" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="1" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="2" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="3" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="4" id="RadioGroup17" />
</td> 
</tr>                    
<tr class="odd">
	<td><%=l(:test3_18)%></td>
	<td> 
      <input type="radio" name="respuesta[18]" value="0" id="RadioGroup18" />
</td>
<td>     <input type="radio" name="respuesta[18]" value="1" id="RadioGroup18" />
</td>
<td>      <input type="radio" name="respuesta[18]" value="2" id="RadioGroup18" />
</td>
<td>      <input type="radio" name="respuesta[18]" value="3" id="RadioGroup18" />
</td>
<td>      <input type="radio" name="respuesta[18]" value="4" id="RadioGroup18" />
</td>
</tr>                     
<tr>
	<td><%=l(:test3_19)%></td>
	<td> 
      <input type="radio" name="respuesta[19]" value="0" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="1" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="2" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="3" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="4" id="RadioGroup19" />
</td>                     
<tr class="odd">
	<td><%=l(:test3_20)%></td>
	<td> 
      <input type="radio" name="respuesta[20]" value="0" id="RadioGroup20" />
</td>
<td>      <input type="radio" name="respuesta[20]" value="1" id="RadioGroup20" />
</td>
<td>      <input type="radio" name="respuesta[20]" value="2" id="RadioGroup20" />
</td>
<td>      <input type="radio" name="respuesta[20]" value="3" id="RadioGroup20" />
</td>
<td>      <input type="radio" name="respuesta[20]" value="4" id="RadioGroup20" />
</td>
</tr>                    
<tr>
	<td><%=l(:test3_21)%></td>
	<td> 
      <input type="radio" name="respuesta[21]" value="0" id="RadioGroup21" />
</td>
<td>      <input type="radio" name="respuesta[21]" value="1" id="RadioGroup21" />
</td>
<td>      <input type="radio" name="respuesta[21]" value="2" id="RadioGroup21" />
</td>
<td>      <input type="radio" name="respuesta[21]" value="3" id="RadioGroup21" />
</td>
<td>      <input type="radio" name="respuesta[21]" value="4" id="RadioGroup21" />
</tr>                     
<tr class="odd">
	<td><%=l(:test3_22)%></td>
	<td> 
      <input type="radio" name="respuesta[22]" value="0" id="RadioGroup22" />
</td>
<td>      <input type="radio" name="respuesta[22]" value="1" id="RadioGroup22" />
</td>
<td>      <input type="radio" name="respuesta[22]" value="2" id="RadioGroup22" />
</td>
<td>      <input type="radio" name="respuesta[22]" value="3" id="RadioGroup22" />
</td>
<td>      <input type="radio" name="respuesta[22]" value="4" id="RadioGroup22" />
</td>
</tr>                     
<tr>
	<td><%=l(:test3_23)%></td>
	<td> 
      <input type="radio" name="respuesta[23]" value="0" id="RadioGroup23" />
</td>
<td>      <input type="radio" name="respuesta[23]" value="1" id="RadioGroup23" />
</td>
<td>      <input type="radio" name="respuesta[23]" value="2" id="RadioGroup23" />
</td>
<td>      <input type="radio" name="respuesta[23]" value="3" id="RadioGroup23" />
</td>
<td>      <input type="radio" name="respuesta[23]" value="4" id="RadioGroup23" />
</td>
</tr>                     
<tr class="odd">
	<td><%=l(:test3_24)%></td>
	<td> 
      <input type="radio" name="respuesta[24]" value="0" id="RadioGroup24" />
</td>
<td>      <input type="radio" name="respuesta[24]" value="1" id="RadioGroup24" />
</td>
<td>      <input type="radio" name="respuesta[24]" value="2" id="RadioGroup24" />
</td>
<td>      <input type="radio" name="respuesta[24]" value="3" id="RadioGroup24" />
</td>
<td>      <input type="radio" name="respuesta[24]" value="4" id="RadioGroup24" />
</td>
</tr>                      
</tbody>
</table>
<br/>    
   <p><%= submit_tag l(:button_save) %></p> 
</center>
<%= link_to 'Back', answers_path %>


