<h2><%=l(:test1)%></h2> 
<br/> 

<div id="intro"><%=l(:test1_intro)%></div>
<br/> 
<div id="values">
	<%=l(:test3_valor_0)%> •
	 <%=l(:test3_valor_1)%> • 
	 <%=l(:test3_valor_2)%> •
	 <%=l(:test3_valor_3)%> •
	 <%=l(:test3_valor_4)%>
	 <br/><br/>
</div>
<center>
<table cellspacing="0"> 
	<!-- <caption><%=l(:test1)%></caption> -->
	<thead>
		<tr>
			<th scope="col"><div align="left"><%=l(:test3_header1)%></div></th>
			<th scope="col">0</th>
			<th scope="col">1</th>
			<th scope="col">2</th>
			<th scope="col">3</th>
			<th scope="col">4</th>
		</tr>
	</thead> 
	<tbody>
<tr>
   <th><%=l(:test3_1)%></th>
	<td> 
      <input type="radio" name="respuesta[1]" value="0" id="RadioGroup1" /> 
</td>
<td>
      <input type="radio" name="respuesta[1]" value="1" id="RadioGroup1" />
    </td>
	<td>
		  <input type="radio" name="respuesta[1]" value="2" id="RadioGroup1" />
      </td>
	<td>
		<input type="radio" name="respuesta[1]" value="3" id="RadioGroup1" />
      </td>
	<td>
		<input type="radio" name="respuesta[1]" value="4" id="RadioGroup1" />
      </td> 
</tr> 
<tr class="odd">
	<td><%=l(:test3_2)%></td>
	<td> 
      <input type="radio" name="respuesta[2]" value="0" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="1" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="2" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="3" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="4" id="RadioGroup2" />
</td>  
</tr>  
<tr>
	<td><%=l(:test3_3)%></td>
	<td> 
      <input type="radio" name="respuesta[3]" value="0" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="1" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="2" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="3" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="4" id="RadioGroup3" />
</tr>                    
<tr class="odd">
	<td><%=l(:test3_4)%></td>
	<td> 
      <input type="radio" name="respuesta[4]" value="0" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="1" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="2" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="3" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="4" id="RadioGroup4" />
</tr>                    
 <tr>
	<td><%=l(:test3_5)%></td>
	<td> 
      <input type="radio" name="respuesta[5]" value="0" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="1" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="2" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="3" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="4" id="RadioGroup5" />
</tr>                    
<tr class="odd">
	<td><%=l(:test3_6)%></td>
	<td> 
      <input type="radio" name="respuesta[6]" value="0" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="1" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="2" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="3" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="4" id="RadioGroup6" />
</td> 
</tr>                   
<tr>
	<td><%=l(:test3_7)%></td>
	<td> 
      <input type="radio" name="respuesta[7]" value="0" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="1" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="2" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="3" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="4" id="RadioGroup7" />
</td>
</tr>                    
<tr class="odd">
	<td><%=l(:test3_8)%></td>
	<td> 
      <input type="radio" name="respuesta[8]" value="0" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="1" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="2" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="3" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="4" id="RadioGroup8" />
</td> 
</tr>                 
<tr>
	<td><%=l(:test3_9)%></td>
	<td> 
      <input type="radio" name="respuesta[9]" value="0" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="1" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="2" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="3" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="4" id="RadioGroup9" />
</td>
</tr>                    
<tr class="odd">
	<td><%=l(:test3_10)%></td>
	<td> 
      <input type="radio" name="respuesta[10]" value="0" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="1" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="2" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="3" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="4" id="RadioGroup10" />
</td> 
</tr>
<tr>
	<td><%=l(:test3_11)%></td>
	<td> 
      <input type="radio" name="respuesta[11]" value="0" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="1" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="2" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="3" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="4" id="RadioGroup11" />
</td> 
</tr>                   
<tr class="odd">
	<td><%=l(:test3_12)%></td>
	<td> 
      <input type="radio" name="respuesta[12]" value="0" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="1" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="2" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="3" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="4" id="RadioGroup12" />
</td>  
</tr>
<tr>
	<td><%=l(:test3_13)%></td>
	<td> 
      <input type="radio" name="respuesta[13]" value="0" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="1" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="2" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="3" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="4" id="RadioGroup13" />
</td> 
</tr>                    
<tr class="odd">
	<td><%=l(:test3_14)%></td>
	<td> 
      <input type="radio" name="respuesta[14]" value="0" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="1" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="2" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="3" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="4" id="RadioGroup14" />
</td> 
</tr>                   
<tr>
	<td><%=l(:test3_15)%></td>
	<td> 
      <input type="radio" name="respuesta[15]" value="0" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="1" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="2" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="3" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="4" id="RadioGroup15" />
</td>   
</tr>                  
<thead>
	<tr>
		<th scope="col"><div align="left"><%=l(:test1_header2)%></div></th>
		<th scope="col">0</th>
		<th scope="col">1</th>
		<th scope="col">2</th>
		<th scope="col">3</th>
		<th scope="col">4</th>
	</tr>
</thead> 
<tr>
	<td><%=l(:test1_17)%></td>
	<td> 
      <input type="radio" name="respuesta[17]" value="0" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="1" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="2" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="3" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="4" id="RadioGroup17" />
</td> 
</tr>                    
<tr class="odd">
	<td><%=l(:test1_18)%></td>
	<td> 
      <input type="radio" name="respuesta[18]" value="0" id="RadioGroup18" />
</td>
<td>     <input type="radio" name="respuesta[18]" value="1" id="RadioGroup18" />
</td>
<td>      <input type="radio" name="respuesta[18]" value="2" id="RadioGroup18" />
</td>
<td>      <input type="radio" name="respuesta[18]" value="3" id="RadioGroup18" />
</td>
<td>      <input type="radio" name="respuesta[18]" value="4" id="RadioGroup18" />
</td>
</tr>                     
<tr>
	<td><%=l(:test1_19)%></td>
	<td> 
      <input type="radio" name="respuesta[19]" value="0" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="1" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="2" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="3" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="4" id="RadioGroup19" />
</td>
</tr>                     
<tr class="odd">
	<td><%=l(:test1_20)%></td>
	<td> 
      <input type="radio" name="respuesta[20]" value="0" id="RadioGroup20" />
</td>
<td>      <input type="radio" name="respuesta[20]" value="1" id="RadioGroup20" />
</td>
<td>      <input type="radio" name="respuesta[20]" value="2" id="RadioGroup20" />
</td>
<td>      <input type="radio" name="respuesta[20]" value="3" id="RadioGroup20" />
</td>
<td>      <input type="radio" name="respuesta[20]" value="4" id="RadioGroup20" />
</td> 
</tr>                    
<tr>
	<td><%=l(:test1_21)%></td>
	<td> 
      <input type="radio" name="respuesta[21]" value="0" id="RadioGroup21" />
</td>
<td>      <input type="radio" name="respuesta[21]" value="1" id="RadioGroup21" />
</td>
<td>      <input type="radio" name="respuesta[21]" value="2" id="RadioGroup21" />
</td>
<td>      <input type="radio" name="respuesta[21]" value="3" id="RadioGroup21" />
</td>
<td>      <input type="radio" name="respuesta[21]" value="4" id="RadioGroup21" />
</tr>                     
<tr class="odd">
	<td><%=l(:test1_22)%></td>
	<td> 
      <input type="radio" name="respuesta[22]" value="0" id="RadioGroup22" />
</td>
<td>      <input type="radio" name="respuesta[22]" value="1" id="RadioGroup22" />
</td>
<td>      <input type="radio" name="respuesta[22]" value="2" id="RadioGroup22" />
</td>
<td>      <input type="radio" name="respuesta[22]" value="3" id="RadioGroup22" />
</td>
<td>      <input type="radio" name="respuesta[22]" value="4" id="RadioGroup22" />
</td> 
</tr>                    
<tr>
	<td><%=l(:test1_23)%></td>
	<td> 
      <input type="radio" name="respuesta[23]" value="0" id="RadioGroup23" />
</td>
<td>      <input type="radio" name="respuesta[23]" value="1" id="RadioGroup23" />
</td>
<td>      <input type="radio" name="respuesta[23]" value="2" id="RadioGroup23" />
</td>
<td>      <input type="radio" name="respuesta[23]" value="3" id="RadioGroup23" />
</td>
<td>      <input type="radio" name="respuesta[23]" value="4" id="RadioGroup23" />
</td>
</tr>                     
<tr class="odd">
	<td><%=l(:test1_24)%></td>
	<td> 
      <input type="radio" name="respuesta[24]" value="0" id="RadioGroup24" />
</td>
<td>      <input type="radio" name="respuesta[24]" value="1" id="RadioGroup24" />
</td>
<td>      <input type="radio" name="respuesta[24]" value="2" id="RadioGroup24" />
</td>
<td>      <input type="radio" name="respuesta[24]" value="3" id="RadioGroup24" />
</td>
<td>      <input type="radio" name="respuesta[24]" value="4" id="RadioGroup24" />
</td>
</tr>                     
<thead>
	<tr>
		<th scope="col"><div align="left"><%=l(:test3_header1)%></div></th>
		<th scope="col"></th>
		<th scope="col"></th>
		<th scope="col"></th>
		<th scope="col"></th>
		<th scope="col"></th>
	</tr>
</thead> 
<tr>
	<td><%=l(:test1_16)%></td>
	<td> 
      <input type="checkbox" name="respuesta[16]" id="RadioGroup16" />
</td>
</tr>
 <tr class="odd">
	<td><%=l(:test1_25)%></td>
	<td> 
      <input type="checkbox" name="respuesta[24]"id="RadioGroup24" />
</td>
</tr>
</tbody>
</table>
<br/>    
<table cellspacing="0"> 
	<!-- <caption><%=l(:test1)%></caption> -->
	<thead>
		<tr>
			<th scope="col"><div align="left"><%=l(:test1_header2)%></div></th>
			<th scope="col">1</th>
			<th scope="col">2</th>
			<th scope="col">3</th>
			<th scope="col">4</th>
		</tr>
	</thead> 
	<tbody>
<tr>
   <th><%=l(:test1_26)%></th>
<td>
      <input type="radio" name="respuesta[26]" value="1" id="RadioGroup26" />
    </td>
	<td>
		  <input type="radio" name="respuesta[26]" value="2" id="RadioGroup26" />
      </td>
	<td>
		<input type="radio" name="respuesta[26]" value="3" id="RadioGroup26" />
      </td>
	<td>
		<input type="radio" name="respuesta[26]" value="4" id="RadioGroup26" />
      </td> 
</tr> 
<tr class="odd">
	<td><%=l(:test1_27)%></td>
<td>      <input type="radio" name="respuesta[27]" value="1" id="RadioGroup27" />
</td>
<td>      <input type="radio" name="respuesta[27]" value="2" id="RadioGroup27" />
</td>
<td>      <input type="radio" name="respuesta[27]" value="3" id="RadioGroup27" />
</td>
<td>      <input type="radio" name="respuesta[27]" value="4" id="RadioGroup27" />
</td>  
</tr>  
<tr>
	<td><%=l(:test1_28)%></td>
<td>      <input type="radio" name="respuesta[28]" value="1" id="RadioGroup28" />
</td>
<td>      <input type="radio" name="respuesta[28]" value="2" id="RadioGroup28" />
</td>
<td>      <input type="radio" name="respuesta[28]" value="3" id="RadioGroup28" />
</td>
<td>      <input type="radio" name="respuesta[28]" value="4" id="RadioGroup28" />
</tr>                    
<tr class="odd">
	<td><%=l(:test1_29)%></td>
<td>      <input type="radio" name="respuesta[29]" value="1" id="RadioGroup29" />
</td>
<td>      <input type="radio" name="respuesta[29]" value="2" id="RadioGroup29" />
</td>
<td>      <input type="radio" name="respuesta[29]" value="3" id="RadioGroup29" />
</td>
<td>      <input type="radio" name="respuesta[29]" value="4" id="RadioGroup29" />
</tr>                    
 <tr>
	<td><%=l(:test1_30)%></td>
<td>      <input type="radio" name="respuesta[30]" value="1" id="RadioGroup30" />
</td>
<td>      <input type="radio" name="respuesta[30]" value="2" id="RadioGroup30" />
</td>
<td>      <input type="radio" name="respuesta[30]" value="3" id="RadioGroup30" />
</td>
<td>      <input type="radio" name="respuesta[30]" value="4" id="RadioGroup30" />
</tr>                    
<tr class="odd">
	<td><%=l(:test1_31)%></td>
<td>      <input type="radio" name="respuesta[31]" value="1" id="RadioGroup31" />
</td>
<td>      <input type="radio" name="respuesta[31]" value="2" id="RadioGroup31" />
</td>
<td>      <input type="radio" name="respuesta[31]" value="3" id="RadioGroup31" />
</td>
<td>      <input type="radio" name="respuesta[31]" value="4" id="RadioGroup31" />
</td> 
</tr>                   
<tr>
	<td><%=l(:test1_32)%></td>
<td>      <input type="radio" name="respuesta[32]" value="1" id="RadioGroup32" />
</td>
<td>      <input type="radio" name="respuesta[32]" value="2" id="RadioGroup32" />
</td>
<td>      <input type="radio" name="respuesta[32]" value="3" id="RadioGroup32" />
</td>
<td>      <input type="radio" name="respuesta[32]" value="4" id="RadioGroup32" />
</td>
</tr>                    
<tr class="odd">
	<td><%=l(:test1_33)%></td>
<td>      <input type="radio" name="respuesta[33]" value="1" id="RadioGroup33" />
</td>
<td>      <input type="radio" name="respuesta[33]" value="2" id="RadioGroup33" />
</td>
<td>      <input type="radio" name="respuesta[33]" value="3" id="RadioGroup33" />
</td>
<td>      <input type="radio" name="respuesta[33]" value="4" id="RadioGroup33" />
</td> 
</tr>                 
<tr>
	<td><%=l(:test1_34)%></td>
<td>      <input type="radio" name="respuesta[34]" value="1" id="RadioGroup34" />
</td>
<td>      <input type="radio" name="respuesta[34]" value="2" id="RadioGroup34" />
</td>
<td>      <input type="radio" name="respuesta[34]" value="3" id="RadioGroup34" />
</td>
<td>      <input type="radio" name="respuesta[34]" value="4" id="RadioGroup34" />
</td>
</tr>                    
<tr class="odd">
	<td><%=l(:test1_35)%></td>
<td>      <input type="radio" name="respuesta[35]" value="1" id="RadioGroup35" />
</td>
<td>      <input type="radio" name="respuesta[35]" value="2" id="RadioGroup35" />
</td>
<td>      <input type="radio" name="respuesta[35]" value="3" id="RadioGroup35" />
</td>
<td>      <input type="radio" name="respuesta[35]" value="4" id="RadioGroup35" />
</td> 
</tr>
<tr>
	<td><%=l(:test1_36)%></td>
<td>      <input type="radio" name="respuesta[36]" value="1" id="RadioGroup36" />
</td>
<td>      <input type="radio" name="respuesta[36]" value="2" id="RadioGroup36" />
</td>
<td>      <input type="radio" name="respuesta[36]" value="3" id="RadioGroup36" />
</td>
<td>      <input type="radio" name="respuesta[36]" value="4" id="RadioGroup36" />
</td> 
</tr>                   
<tr class="odd">
	<td><%=l(:test1_37)%></td>
<td>      <input type="radio" name="respuesta[37]" value="1" id="RadioGroup37" />
</td>
<td>      <input type="radio" name="respuesta[37]" value="2" id="RadioGroup37" />
</td>
<td>      <input type="radio" name="respuesta[37]" value="3" id="RadioGroup37" />
</td>
<td>      <input type="radio" name="respuesta[37]" value="4" id="RadioGroup37" />
</td>  
</tr>
<tr>
	<td><%=l(:test1_38)%></td>
<td>      <input type="radio" name="respuesta[38]" value="1" id="RadioGroup38" />
</td>
<td>      <input type="radio" name="respuesta[38]" value="2" id="RadioGroup38" />
</td>
<td>      <input type="radio" name="respuesta[38]" value="3" id="RadioGroup38" />
</td>
<td>      <input type="radio" name="respuesta[38]" value="4" id="RadioGroup38" />
</td> 
</tr>                    
<tr class="odd">
	<td><%=l(:test1_39)%></td>
<td>      <input type="radio" name="respuesta[39]" value="1" id="RadioGroup39" />
</td>
<td>      <input type="radio" name="respuesta[39]" value="2" id="RadioGroup39" />
</td>
<td>      <input type="radio" name="respuesta[39]" value="3" id="RadioGroup39" />
</td>
<td>      <input type="radio" name="respuesta[39]" value="4" id="RadioGroup39" />
</td> 
</tr>                   
<tr>
	<td><%=l(:test1_40)%></td>
<td>      <input type="radio" name="respuesta[40]" value="1" id="RadioGroup40" />
</td>
<td>      <input type="radio" name="respuesta[40]" value="2" id="RadioGroup40" />
</td>
<td>      <input type="radio" name="respuesta[40]" value="3" id="RadioGroup40" />
</td>
<td>      <input type="radio" name="respuesta[40]" value="4" id="RadioGroup40" />
</td>   
</tr>                  
<tr class="odd">
	<td><%=l(:test1_41)%></td>
<td>      <input type="radio" name="respuesta[41]" value="1" id="RadioGroup41" />
</td>
<td>      <input type="radio" name="respuesta[41]" value="2" id="RadioGroup41" />
</td>
<td>      <input type="radio" name="respuesta[41]" value="3" id="RadioGroup41" />
</td>
<td>      <input type="radio" name="respuesta[41]" value="4" id="RadioGroup41" />
</td> 
</tr>                    
<tr>
	<td><%=l(:test1_42)%></td>
<td>     <input type="radio" name="respuesta[42]" value="1" id="RadioGroup42" />
</td>
<td>      <input type="radio" name="respuesta[42]" value="2" id="RadioGroup42" />
</td>
<td>      <input type="radio" name="respuesta[42]" value="3" id="RadioGroup42" />
</td>
<td>      <input type="radio" name="respuesta[42]" value="4" id="RadioGroup42" />
</td>
</tr>                     
<tr class="odd">
	<td><%=l(:test1_43)%></td>
<td>      <input type="radio" name="respuesta[43]" value="1" id="RadioGroup43" />
</td>
<td>      <input type="radio" name="respuesta[43]" value="2" id="RadioGroup43" />
</td>
<td>      <input type="radio" name="respuesta[43]" value="3" id="RadioGroup43" />
</td>
<td>      <input type="radio" name="respuesta[43]" value="4" id="RadioGroup43" />
</td>
</tr>                     
<tr>
	<td><%=l(:test1_44)%></td>
<td>      <input type="radio" name="respuesta[44]" value="1" id="RadioGroup44" />
</td>
<td>      <input type="radio" name="respuesta[44]" value="2" id="RadioGroup44" />
</td>
<td>      <input type="radio" name="respuesta[44]" value="3" id="RadioGroup44" />
</td>
<td>      <input type="radio" name="respuesta[44]" value="4" id="RadioGroup44" />
</td> 
</tr>                    
<tr class="odd">
	<td><%=l(:test1_45)%></td>
<td>      <input type="radio" name="respuesta[45]" value="1" id="RadioGroup45" />
</td>
<td>      <input type="radio" name="respuesta[45]" value="2" id="RadioGroup45" />
</td>
<td>      <input type="radio" name="respuesta[45]" value="3" id="RadioGroup45" />
</td>
<td>      <input type="radio" name="respuesta[45]" value="4" id="RadioGroup45" />
</tr>                     
<tr>
	<td><%=l(:test1_46)%></td>
<td>      <input type="radio" name="respuesta[46]" value="1" id="RadioGroup46" />
</td>
<td>      <input type="radio" name="respuesta[46]" value="2" id="RadioGroup46" />
</td>
<td>      <input type="radio" name="respuesta[46]" value="3" id="RadioGroup46" />
</td>
<td>      <input type="radio" name="respuesta[46]" value="4" id="RadioGroup46" />
</td> 
</tr>                    
<tr class="odd">
	<td><%=l(:test1_47)%></td>
<td>      <input type="radio" name="respuesta[47]" value="1" id="RadioGroup47" />
</td>
<td>      <input type="radio" name="respuesta[47]" value="2" id="RadioGroup47" />
</td>
<td>      <input type="radio" name="respuesta[47]" value="3" id="RadioGroup47" />
</td>
<td>      <input type="radio" name="respuesta[47]" value="4" id="RadioGroup47" />
</td>
</tr>                     
<tr>
	<td><%=l(:test1_48)%></td>
<td>      <input type="radio" name="respuesta[48]" value="1" id="RadioGroup48" />
</td>
<td>      <input type="radio" name="respuesta[48]" value="2" id="RadioGroup48" />
</td>
<td>      <input type="radio" name="respuesta[48]" value="3" id="RadioGroup48" />
</td>
<td>      <input type="radio" name="respuesta[48]" value="4" id="RadioGroup48" />
</td>
</tr> 
<tr class="odd">
	<td><%=l(:test1_49)%></td>
<td>      <input type="radio" name="respuesta[49]" value="1" id="RadioGroup49" />
</td>
<td>      <input type="radio" name="respuesta[49]" value="2" id="RadioGroup49" />
</td>
<td>      <input type="radio" name="respuesta[49]" value="3" id="RadioGroup49" />
</td>
<td>      <input type="radio" name="respuesta[49]" value="4" id="RadioGroup49" />
</td>
</tr>                     
<tr>
	<td><%=l(:test1_50)%></td>
<td>      <input type="radio" name="respuesta[50]" value="1" id="RadioGroup50" />
</td>
<td>      <input type="radio" name="respuesta[50]" value="2" id="RadioGroup50" />
</td>
<td>      <input type="radio" name="respuesta[50]" value="3" id="RadioGroup50" />
</td>
<td>      <input type="radio" name="respuesta[50]" value="4" id="RadioGroup50" />
</td> 
</tr>                    
<tr class="odd">
	<td><%=l(:test1_51)%></td>
<td>      <input type="radio" name="respuesta[51]" value="1" id="RadioGroup51" />
</td>
<td>      <input type="radio" name="respuesta[51]" value="2" id="RadioGroup51" />
</td>
<td>      <input type="radio" name="respuesta[51]" value="3" id="RadioGroup51" />
</td>
<td>      <input type="radio" name="respuesta[51]" value="4" id="RadioGroup51" />
</tr>                     
<tr>
	<td><%=l(:test1_52)%></td>
<td>      <input type="radio" name="respuesta[52]" value="1" id="RadioGroup52" />
</td>
<td>      <input type="radio" name="respuesta[52]" value="2" id="RadioGroup52" />
</td>
<td>      <input type="radio" name="respuesta[52]" value="3" id="RadioGroup52" />
</td>
<td>      <input type="radio" name="respuesta[52]" value="4" id="RadioGroup52" />
</td> 
</tr>
</tbody>
</table>
<br/> 

<table cellspacing="0"> 
	<!-- <caption><%=l(:test1)%></caption> -->
	<thead>
		<tr>
			<th scope="col"><div align="left"><%=l(:test1_header4)%></div></th>
			<th scope="col"></th>
		</tr>
	</thead> 
	<tbody>
<tr>
	<td><%=l(:test1_53)%></td>
<td>      	<select name="respuesta[53]" id="RadioGroup53">
	            <option value="0">0</option>
	            <option value="10">10</option>
	            <option value="20">20</option>
	            <option value="30">30</option>
	            <option value="40">40</option>
	            <option value="50">50</option>
	            <option value="60">60</option>
	            <option value="70">70</option>
	            <option value="80">80</option>
	            <option value="90">90</option>
	            <option value="100">100</option>
	          </select>
</td>   
</tr>                  
<tr class="odd">
	<td><%=l(:test1_54)%></td>
	<td>      	<select name="respuesta[54]" id="RadioGroup54">
		            <option value="0">0</option>
		            <option value="10">10</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="40">40</option>
		            <option value="50">50</option>
		            <option value="60">60</option>
		            <option value="70">70</option>
		            <option value="80">80</option>
		            <option value="90">90</option>
		            <option value="100">100</option>
		          </select>
	</td>   
</tr>                    
<tr>
	<td><%=l(:test1_55)%></td>
	<td>      	<select name="respuesta[55]" id="RadioGroup55">
		            <option value="0">0</option>
		            <option value="10">10</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="40">40</option>
		            <option value="50">50</option>
		            <option value="60">60</option>
		            <option value="70">70</option>
		            <option value="80">80</option>
		            <option value="90">90</option>
		            <option value="100">100</option>
		          </select>
	</td>   
</tr>                     
<tr class="odd">
	<td><%=l(:test1_56)%></td>
	<td>      	<select name="respuesta[56]" id="RadioGroup56">
		            <option value="0">0</option>
		            <option value="10">10</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="40">40</option>
		            <option value="50">50</option>
		            <option value="60">60</option>
		            <option value="70">70</option>
		            <option value="80">80</option>
		            <option value="90">90</option>
		            <option value="100">100</option>
		          </select>
	</td>   
</tr>                     
<tr>
	<td><%=l(:test1_57)%></td>
	<td>      	<select name="respuesta[57]" id="RadioGroup57">
		            <option value="0">0</option>
		            <option value="10">10</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="40">40</option>
		            <option value="50">50</option>
		            <option value="60">60</option>
		            <option value="70">70</option>
		            <option value="80">80</option>
		            <option value="90">90</option>
		            <option value="100">100</option>
		          </select>
	</td>   
</tr>                    
<tr class="odd">
	<td><%=l(:test1_58)%></td>
	<td>      	<select name="respuesta[58]" id="RadioGroup58">
		            <option value="0">0</option>
		            <option value="10">10</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="40">40</option>
		            <option value="50">50</option>
		            <option value="60">60</option>
		            <option value="70">70</option>
		            <option value="80">80</option>
		            <option value="90">90</option>
		            <option value="100">100</option>
		          </select>
	</td>   
</tr>                     
<tr>
	<td><%=l(:test1_59)%></td>
	<td>      	<select name="respuesta[59]" id="RadioGroup59">
		            <option value="0">0</option>
		            <option value="10">10</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="40">40</option>
		            <option value="50">50</option>
		            <option value="60">60</option>
		            <option value="70">70</option>
		            <option value="80">80</option>
		            <option value="90">90</option>
		            <option value="100">100</option>
		          </select>
	</td>   
</tr>                    
<tr class="odd">
	<td><%=l(:test1_60)%></td>
	<td>      	<select name="respuesta[60]" id="RadioGroup60">
		            <option value="0">0</option>
		            <option value="10">10</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="40">40</option>
		            <option value="50">50</option>
		            <option value="60">60</option>
		            <option value="70">70</option>
		            <option value="80">80</option>
		            <option value="90">90</option>
		            <option value="100">100</option>
		          </select>
	</td>   
</tr>                     
<tr>
	<td><%=l(:test1_61)%></td>
	<td>      	<select name="respuesta[61]" id="RadioGroup61">
		            <option value="0">0</option>
		            <option value="10">10</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="40">40</option>
		            <option value="50">50</option>
		            <option value="60">60</option>
		            <option value="70">70</option>
		            <option value="80">80</option>
		            <option value="90">90</option>
		            <option value="100">100</option>
		          </select>
	</td>   
</tr> 
<tr class="odd">
	<td><%=l(:test1_62)%></td>
	<td>      	<select name="respuesta[62]" id="RadioGroup62">
		            <option value="0">0</option>
		            <option value="10">10</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="40">40</option>
		            <option value="50">50</option>
		            <option value="60">60</option>
		            <option value="70">70</option>
		            <option value="80">80</option>
		            <option value="90">90</option>
		            <option value="100">100</option>
		          </select>
	</td>   
</tr>                     
<tr>
	<td><%=l(:test1_63)%></td>
	<td>      	<select name="respuesta[53]" id="RadioGroup53">
		            <option value="0">0</option>
		            <option value="10">10</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="40">40</option>
		            <option value="50">50</option>
		            <option value="60">60</option>
		            <option value="70">70</option>
		            <option value="80">80</option>
		            <option value="90">90</option>
		            <option value="100">100</option>
		          </select>
	</td>   
</tr>                    
<tr class="odd">
	<td><%=l(:test1_64)%></td>
	<td>      	<select name="respuesta[63]" id="RadioGroup63">
		            <option value="0">0</option>
		            <option value="10">10</option>
		            <option value="20">20</option>
		            <option value="30">30</option>
		            <option value="40">40</option>
		            <option value="50">50</option>
		            <option value="60">60</option>
		            <option value="70">70</option>
		            <option value="80">80</option>
		            <option value="90">90</option>
		            <option value="100">100</option>
		          </select>
	</td>   
</tr>                     
</tbody>
</table>
<br/> 
   <p><%= submit_tag l(:button_save) %></p> 
</center>
<%= link_to 'Back', answers_path %>


