<!-- Teskal test7 -->
<h2><%=l(:test7)%></h2> 
<br/> 

<div id="intro"><%=l(:test7_intro)%></div>
<br/> 
<div id="values">
	<%=l(:test7_valor_1)%> <•><•><•><•><•><•>
	 <%=l(:test7_valor_7)%> <br/><br/>
</div>
<center>
<table cellspacing="0"> 
	<!-- <caption><%=l(:test7)%></caption> -->
	<thead>
		<tr>
			<th scope="col"><%=l(:test7_header)%></th>
			<th scope="col">1</th>
			<th scope="col">2</th>
			<th scope="col">3</th>
			<th scope="col">4</th>
			<th scope="col">5</th>
			<th scope="col">6</th>
			<th scope="col">7</th>
		</tr>
	</thead> 
	<tfoot>
		<tr>
			<th scope="col"></th>
			<th scope="col">1</th>
			<th scope="col">2</th>
			<th scope="col">3</th>
			<th scope="col">4</th>
			<th scope="col">5</th>
			<th scope="col">6</th>
			<th scope="col">7</th>
		</tr>
	</tfoot>  
	<tbody>
<tr>
   <th><%=l(:test7_1)%></th>
	<td> 
      <input type="radio" name="respuesta[1]" value="1" id="RadioGroup1" /> 
</td>
<td>
      <input type="radio" name="respuesta[1]" value="2" id="RadioGroup1" />
    </td>
	<td>
		  <input type="radio" name="respuesta[1]" value="3" id="RadioGroup1" />
      </td>
	<td>
		<input type="radio" name="respuesta[1]" value="4" id="RadioGroup1" />
      </td>
	<td>
		<input type="radio" name="respuesta[1]" value="5" id="RadioGroup1" />
      </td>
	<td>
		<input type="radio" name="respuesta[1]" value="6" id="RadioGroup1" />
      </td>
	<td>
		<input type="radio" name="respuesta[1]" value="7" id="RadioGroup1" />
</td> 
		
</tr> 
<tr class="odd">
	<td><%=l(:test7_2)%></td>
	<td> 
      <input type="radio" name="respuesta[2]" value="1" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="2" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="3" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="4" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="5" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="6" id="RadioGroup2" />
</td>
<td>      <input type="radio" name="respuesta[2]" value="7" id="RadioGroup2" />
</td>  
</tr>  
<tr>
	<td><%=l(:test7_3)%></td>
	<td> 
      <input type="radio" name="respuesta[3]" value="1" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="2" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="3" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="4" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="5" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="6" id="RadioGroup3" />
</td>
<td>      <input type="radio" name="respuesta[3]" value="7" id="RadioGroup3" />
</td>
</tr>                    
<tr class="odd">
	<td><%=l(:test7_4)%></td>
	<td> 
      <input type="radio" name="respuesta[4]" value="1" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="2" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="3" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="4" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="5" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="6" id="RadioGroup4" />
</td>
<td>      <input type="radio" name="respuesta[4]" value="7" id="RadioGroup4" />
</td>
</tr>                    
 <tr>
	<td><%=l(:test7_5)%></td>
	<td> 
      <input type="radio" name="respuesta[5]" value="1" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="2" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="3" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="4" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="5" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="6" id="RadioGroup5" />
</td>
<td>      <input type="radio" name="respuesta[5]" value="7" id="RadioGroup5" />
</td>
</tr>                    
<tr class="odd">
	<td><%=l(:test7_6)%></td>
	<td> 
      <input type="radio" name="respuesta[6]" value="1" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="2" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="3" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="4" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="5" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="6" id="RadioGroup6" />
</td>
<td>      <input type="radio" name="respuesta[6]" value="7" id="RadioGroup6" />
</td>
</tr>                    
<tr>
	<td><%=l(:test7_7)%></td>
	<td> 
      <input type="radio" name="respuesta[7]" value="1" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="2" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="3" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="4" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="5" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="6" id="RadioGroup7" />
</td>
<td>      <input type="radio" name="respuesta[7]" value="7" id="RadioGroup7" />
</td>
</tr>                    
<tr class="odd">
	<td><%=l(:test7_8)%></td>
	<td> 
      <input type="radio" name="respuesta[8]" value="1" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="2" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="3" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="4" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="5" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="6" id="RadioGroup8" />
</td>
<td>      <input type="radio" name="respuesta[8]" value="7" id="RadioGroup8" />
</td>
</tr>                    
<tr>
	<td><%=l(:test7_9)%></td>
	<td> 
      <input type="radio" name="respuesta[9]" value="1" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="2" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="3" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="4" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="5" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="6" id="RadioGroup9" />
</td>
<td>      <input type="radio" name="respuesta[9]" value="7" id="RadioGroup9" />
</td>
</tr>                    
<tr class="odd">
	<td><%=l(:test7_10)%></td>
	<td> 
      <input type="radio" name="respuesta[10]" value="1" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="2" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="3" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="4" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="5" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="6" id="RadioGroup10" />
</td>
<td>      <input type="radio" name="respuesta[10]" value="7" id="RadioGroup10" />
</td>
</tr>  
<tr>
	<td><%=l(:test7_11)%></td>
	<td> 
      <input type="radio" name="respuesta[11]" value="1" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="2" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="3" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="4" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="5" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="6" id="RadioGroup11" />
</td>
<td>      <input type="radio" name="respuesta[11]" value="7" id="RadioGroup11" />
</td>
</tr>                     
<tr class="odd">
	<td><%=l(:test7_12)%></td>
	<td> 
      <input type="radio" name="respuesta[12]" value="1" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="2" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="3" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="4" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="5" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="6" id="RadioGroup12" />
</td>
<td>      <input type="radio" name="respuesta[12]" value="7" id="RadioGroup12" />
</td>
</tr>                    
<tr>
	<td><%=l(:test7_13)%></td>
	<td> 
      <input type="radio" name="respuesta[13]" value="1" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="2" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="3" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="4" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="5" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="6" id="RadioGroup13" />
</td>
<td>      <input type="radio" name="respuesta[13]" value="7" id="RadioGroup13" />
</td>
</tr>                     
<tr class="odd">
	<td><%=l(:test7_14)%></td>
	<td> 
      <input type="radio" name="respuesta[14]" value="1" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="2" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="3" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="4" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="5" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="6" id="RadioGroup14" />
</td>
<td>      <input type="radio" name="respuesta[14]" value="7" id="RadioGroup14" />
</td>
</tr>                     
<tr>
	<td><%=l(:test7_15)%></td>
	<td> 
      <input type="radio" name="respuesta[15]" value="1" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="2" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="3" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="4" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="5" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="6" id="RadioGroup15" />
</td>
<td>      <input type="radio" name="respuesta[15]" value="7" id="RadioGroup15" />
</td>
</tr>                     
<tr class="odd">
	<td><%=l(:test7_16)%></td>
	<td> 
      <input type="radio" name="respuesta[16]" value="1" id="RadioGroup16" />
</td>
<td>      <input type="radio" name="respuesta[16]" value="2" id="RadioGroup16" />
</td>
<td>      <input type="radio" name="respuesta[16]" value="3" id="RadioGroup16" />
</td>
<td>      <input type="radio" name="respuesta[16]" value="4" id="RadioGroup16" />
</td>
<td>      <input type="radio" name="respuesta[16]" value="5" id="RadioGroup16" />
</td>
<td>      <input type="radio" name="respuesta[16]" value="6" id="RadioGroup16" />
</td>
<td>      <input type="radio" name="respuesta[16]" value="7" id="RadioGroup16" />
</td>
</tr>                     
<tr>
	<td><%=l(:test7_17)%></td>
	<td> 
      <input type="radio" name="respuesta[17]" value="1" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="2" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="3" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="4" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="5" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="6" id="RadioGroup17" />
</td>
<td>      <input type="radio" name="respuesta[17]" value="7" id="RadioGroup" />
</td>
</tr>                     
<tr class="odd">
	<td><%=l(:test7_18)%></td>
	<td> 
      <input type="radio" name="respuesta[18]" value="1" id="RadioGroup18" />
</td>
<td>     <input type="radio" name="respuesta[18]" value="2" id="RadioGroup18" />
</td>
<td>      <input type="radio" name="respuesta[18]" value="3" id="RadioGroup18" />
</td>
<td>      <input type="radio" name="respuesta[18]" value="4" id="RadioGroup18" />
</td>
<td>      <input type="radio" name="respuesta[18]" value="5" id="RadioGroup18" />
</td>
<td>      <input type="radio" name="respuesta[18]" value="6" id="RadioGroup18" />
</td>
<td>      <input type="radio" name="respuesta[18]" value="7" id="RadioGroup18" />
</td>
</tr>                     
<tr>
	<td><%=l(:test7_19)%></td>
	<td> 
      <input type="radio" name="respuesta[19]" value="1" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="2" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="3" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="4" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="5" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="6" id="RadioGroup19" />
</td>
<td>      <input type="radio" name="respuesta[19]" value="7" id="RadioGroup19" />
</td>
</tr>                                       
  
</tbody>
</table>
<br/>    
   <p><%= submit_tag l(:button_save) %></p> 
</center>
<%= link_to 'Back', answers_path %>


