<%= error_messages_for 'pending' %>

<!--[form:pending]-->
<p><label for="pending_quest">Quest</label><br/>
<%= text_field 'pending', 'quest'  %></p>

<p><label for="pending_created_on">Created on</label><br/>
<%= datetime_select 'pending', 'created_on'  %></p>
<!--[eoform:pending]-->

