<h2><%=l(:test1)%></h2>
<br/>
<div id="intro"><%=l(:test1_intro)%></div>
<br/>
<div id="values"> <%=l(:test3_valor_0)%> • <%=l(:test3_valor_1)%> • <%=l(:test3_valor_2)%> • <%=l(:test3_valor_3)%> • <%=l(:test3_valor_4)%> <br/>
  <br/>
</div>
<form action="/test1/create" method="post">
	<center>
  <table cellspacing="0">
    <!-- <caption><%=l(:test1)%></caption> -->
    <thead>
      <tr>
        <th scope="col"> ## </th> 
		<th scope="col"><div align="left"><%=l(:test3_header1)%></div></th>
        <th scope="col">0</th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th> 1 </th>
		<th><%=l(:test3_1)%></th>
        <td><input type="radio" name="answer[answ1]" value="0" id="answer_answ1_0" /></td>
        <td><input type="radio" name="answer[answ1]" value="1" id="answer_answ1_1" /></td>
        <td><input type="radio" name="answer[answ1]" value="2" id="answer_answ1_2" /></td>
        <td><input type="radio" name="answer[answ1]" value="3" id="answer_answ1_3" /></td>
        <td><input type="radio" name="answer[answ1]" value="4" id="answer_answ1_3" /></td>
      </tr>
      <tr class="odd">
        <td> 2 </td>
		<td><%=l(:test3_2)%></td>
        <td><input type="radio" name="answer[answ2]" value="0" id="answer_answ2_0" /></td>
        <td><input type="radio" name="answer[answ2]" value="1" id="answer_answ2_1" /></td>
        <td><input type="radio" name="answer[answ2]" value="2" id="answer_answ2_2" /></td>
        <td><input type="radio" name="answer[answ2]" value="3" id="answer_answ2_3" /></td>
        <td><input type="radio" name="answer[answ2]" value="4" id="answer_answ2_4" /></td>
      </tr>
      <tr>
        <td> 3 </td>
		<td><%=l(:test3_3)%></td>
        <td><input type="radio" name="answer[answ3]" value="0" id="answer_answ3_0" /></td>
        <td><input type="radio" name="answer[answ3]" value="1" id="answer_answ3_1" /></td>
        <td><input type="radio" name="answer[answ3]" value="2" id="answer_answ3_2" /></td>
        <td><input type="radio" name="answer[answ3]" value="3" id="answer_answ3_3" /></td>
        <td><input type="radio" name="answer[answ3]" value="4" id="answer_answ3_4" /></td>
      </tr>
      <tr class="odd">
        <td> 4 </td>
		<td><%=l(:test3_4)%></td>
        <td><input type="radio" name="answer[answ4]" value="0" id="answer_answ4_0" /></td>
        <td><input type="radio" name="answer[answ4]" value="1" id="answer_answ4_1" /></td>
        <td><input type="radio" name="answer[answ4]" value="2" id="answer_answ4_2" /></td>
        <td><input type="radio" name="answer[answ4]" value="3" id="answer_answ4_3" /></td>
        <td><input type="radio" name="answer[answ4]" value="4" id="answer_answ4_4" /></td>
      </tr>
      <tr>
        <td> 5 </td>
		<td><%=l(:test3_5)%></td>
        <td><input type="radio" name="answer[answ5]" value="0" id="answer_answ5_0" /></td>
        <td><input type="radio" name="answer[answ5]" value="1" id="answer_answ5_1" /></td>
        <td><input type="radio" name="answer[answ5]" value="2" id="answer_answ5_2" /></td>
        <td><input type="radio" name="answer[answ5]" value="3" id="answer_answ5_3" /></td>
        <td><input type="radio" name="answer[answ5]" value="4" id="answer_answ5_4" /></td>
      </tr>
      <tr class="odd">
        <td> 6 </td>
		<td><%=l(:test3_6)%></td>
        <td><input type="radio" name="answer[answ6]" value="0" id="answer_answ6_0" /></td>
        <td><input type="radio" name="answer[answ6]" value="1" id="answer_answ6_1" /></td>
        <td><input type="radio" name="answer[answ6]" value="2" id="answer_answ6_2" /></td>
        <td><input type="radio" name="answer[answ6]" value="3" id="answer_answ6_3" /></td>
        <td><input type="radio" name="answer[answ6]" value="4" id="answer_answ6_4" /></td>
      </tr>
      <tr>
        <td> 7 </td>
		<td><%=l(:test3_7)%></td>
        <td><input type="radio" name="answer[answ7]" value="0" id="answer_answ7_0" /></td>
        <td><input type="radio" name="answer[answ7]" value="1" id="answer_answ7_1" /></td>
        <td><input type="radio" name="answer[answ7]" value="2" id="answer_answ7_2" /></td>
        <td><input type="radio" name="answer[answ7]" value="3" id="answer_answ7_3" /></td>
        <td><input type="radio" name="answer[answ7]" value="4" id="answer_answ7_4" /></td>
      </tr>
      <tr class="odd">
        <td> 8 </td>
		<td><%=l(:test3_8)%></td>
        <td><input type="radio" name="answer[answ8]" value="0" id="answer_answ8_0" /></td>
        <td><input type="radio" name="answer[answ8]" value="1" id="answer_answ8_1" /></td>
        <td><input type="radio" name="answer[answ8]" value="2" id="answer_answ8_2" /></td>
        <td><input type="radio" name="answer[answ8]" value="3" id="answer_answ8_3" /></td>
        <td><input type="radio" name="answer[answ8]" value="4" id="answer_answ8_4" /></td>
      </tr>
      <tr>
        <td> 9 </td>
		<td><%=l(:test3_9)%></td>
        <td><input type="radio" name="answer[answ9]" value="0" id="answer_answ9_0" /></td>
        <td><input type="radio" name="answer[answ9]" value="1" id="answer_answ9_1" /></td>
        <td><input type="radio" name="answer[answ9]" value="2" id="answer_answ9_2" /></td>
        <td><input type="radio" name="answer[answ9]" value="3" id="answer_answ9_3" /></td>
        <td><input type="radio" name="answer[answ9]" value="4" id="answer_answ9_4" /></td>
      </tr>
      <tr class="odd">
        <td> 10 </td>
		<td><%=l(:test3_10)%></td>
        <td><input type="radio" name="answer[answ10]" value="0" id="answer_answ10_0" /></td>
        <td><input type="radio" name="answer[answ10]" value="1" id="answer_answ10_1" /></td>
        <td><input type="radio" name="answer[answ10]" value="2" id="answer_answ10_2" /></td>
        <td><input type="radio" name="answer[answ10]" value="3" id="answer_answ10_3" /></td>
        <td><input type="radio" name="answer[answ10]" value="4" id="answer_answ10_4" /></td>
      </tr>
      <tr>
        <td> 11 </td>
		<td><%=l(:test3_11)%></td>
        <td><input type="radio" name="answer[answ11]" value="0" id="answer_answ11_0" /></td>
        <td><input type="radio" name="answer[answ11]" value="1" id="answer_answ11_1" /></td>
        <td><input type="radio" name="answer[answ11]" value="2" id="answer_answ11_2" /></td>
        <td><input type="radio" name="answer[answ11]" value="3" id="answer_answ11_3" /></td>
        <td><input type="radio" name="answer[answ11]" value="4" id="answer_answ11_4" /></td>
      </tr>
      <tr class="odd">
        <td> 12 </td>
		<td><%=l(:test3_12)%></td>
        <td><input type="radio" name="answer[answ12]" value="0" id="answer_answ12_0" /></td>
        <td><input type="radio" name="answer[answ12]" value="1" id="answer_answ12_1" /></td>
        <td><input type="radio" name="answer[answ12]" value="2" id="answer_answ12_2" /></td>
        <td><input type="radio" name="answer[answ12]" value="3" id="answer_answ12_3" /></td>
        <td><input type="radio" name="answer[answ12]" value="4" id="answer_answ12_4" /></td>
      </tr>
      <tr>
        <td> 13 </td>
		<td><%=l(:test3_13)%></td>
        <td><input type="radio" name="answer[answ13]" value="0" id="answer_answ13_0" /></td>
        <td><input type="radio" name="answer[answ13]" value="1" id="answer_answ13_1" /></td>
        <td><input type="radio" name="answer[answ13]" value="2" id="answer_answ13_2" /></td>
        <td><input type="radio" name="answer[answ13]" value="3" id="answer_answ13_3" /></td>
        <td><input type="radio" name="answer[answ13]" value="4" id="answer_answ13_4" /></td>
      </tr>
      <tr class="odd">
        <td> 14 </td>
		<td><%=l(:test3_14)%></td>
        <td><input type="radio" name="answer[answ14]" value="0" id="answer_answ14_0" /></td>
        <td><input type="radio" name="answer[answ14]" value="1" id="answer_answ14_1" /></td>
        <td><input type="radio" name="answer[answ14]" value="2" id="answer_answ14_2" /></td>
        <td><input type="radio" name="answer[answ14]" value="3" id="answer_answ14_3" /></td>
        <td><input type="radio" name="answer[answ14]" value="4" id="answer_answ14_4" /></td>
      </tr>
      <tr>
        <td> 15 </td>
		<td><%=l(:test3_15)%></td>
        <td><input type="radio" name="answer[answ15]" value="0" id="answer_answ15_0" /></td>
        <td><input type="radio" name="answer[answ15]" value="1" id="answer_answ15_1" /></td>
        <td><input type="radio" name="answer[answ15]" value="2" id="answer_answ15_2" /></td>
        <td><input type="radio" name="answer[answ15]" value="3" id="answer_answ15_3" /></td>
        <td><input type="radio" name="answer[answ15]" value="4" id="answer_answ15_4" /></td>
      </tr>
    <thead>
      <tr>
        <th scope="col"> ## </th>
		<th scope="col"><div align="left"><%=l(:test1_header2)%></div></th>
        <th scope="col">0</th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
      </tr>
    </thead>
    <tr>
      <td> 16 </td>
	  <td><%=l(:test1_16)%></td>
      <td><input type="radio" name="answer[answ16]" value="0" id="answer_answ16_0" /></td>
      <td><input type="radio" name="answer[answ16]" value="1" id="answer_answ16_1" /></td>
      <td><input type="radio" name="answer[answ16]" value="2" id="answer_answ16_2" /></td>
      <td><input type="radio" name="answer[answ16]" value="3" id="answer_answ16_3" /></td>
      <td><input type="radio" name="answer[answ16]" value="4" id="answer_answ16_4" /></td>
    </tr>
    <tr  class="odd">
      <td> 17 </td>
	  <td><%=l(:test1_17)%></td>
      <td><input type="radio" name="answer[answ17]" value="0" id="answer_answ17_0" /></td>
      <td><input type="radio" name="answer[answ17]" value="1" id="answer_answ17_1" /></td>
      <td><input type="radio" name="answer[answ17]" value="2" id="answer_answ17_2" /></td>
      <td><input type="radio" name="answer[answ17]" value="3" id="answer_answ17_3" /></td>
      <td><input type="radio" name="answer[answ17]" value="4" id="answer_answ17_4" /></td>
    </tr>
    <tr>
      <td> 18 </td>
	  <td><%=l(:test1_18)%></td>
      <td><input type="radio" name="answer[answ18]" value="0" id="answer_answ18_0" /></td>
      <td><input type="radio" name="answer[answ18]" value="1" id="answer_answ18_1" /></td>
      <td><input type="radio" name="answer[answ18]" value="2" id="answer_answ18_2" /></td>
      <td><input type="radio" name="answer[answ18]" value="3" id="answer_answ18_3" /></td>
      <td><input type="radio" name="answer[answ18]" value="4" id="answer_answ18_4" /></td>
    </tr>
    <tr  class="odd">
      <td> 19 </td>
	  <td><%=l(:test1_19)%></td>
      <td><input type="radio" name="answer[answ19]" value="0" id="answer_answ19_0" /></td>
      <td><input type="radio" name="answer[answ19]" value="1" id="answer_answ19_1" /></td>
      <td><input type="radio" name="answer[answ19]" value="2" id="answer_answ19_2" /></td>
      <td><input type="radio" name="answer[answ19]" value="3" id="answer_answ19_3" /></td>
      <td><input type="radio" name="answer[answ19]" value="4" id="answer_answ19_4" /></td>
    </tr>
    <tr>
      <td> 20 </td>
	  <td><%=l(:test1_20)%></td>
      <td><input type="radio" name="answer[answ20]" value="0" id="answer_answ20_0" /></td>
      <td><input type="radio" name="answer[answ20]" value="1" id="answer_answ20_1" /></td>
      <td><input type="radio" name="answer[answ20]" value="2" id="answer_answ20_2" /></td>
      <td><input type="radio" name="answer[answ20]" value="3" id="answer_answ20_3" /></td>
      <td><input type="radio" name="answer[answ20]" value="4" id="answer_answ20_4" /></td>
    </tr>
    <tr class="odd">
      <td> 21 </td>
	  <td><%=l(:test1_21)%></td>
      <td><input type="radio" name="answer[answ21]" value="0" id="answer_answ21_0" /></td>
      <td><input type="radio" name="answer[answ21]" value="1" id="answer_answ21_1" /></td>
      <td><input type="radio" name="answer[answ21]" value="2" id="answer_answ21_2" /></td>
      <td><input type="radio" name="answer[answ21]" value="3" id="answer_answ21_3" /></td>
      <td><input type="radio" name="answer[answ21]" value="4" id="answer_answ21_4" /></td>
    </tr>
    <tr>
      <td> 22 </td>
	  <td><%=l(:test1_22)%></td>
      <td><input type="radio" name="answer[answ22]" value="0" id="answer_answ22_0" /></td>
      <td><input type="radio" name="answer[answ22]" value="1" id="answer_answ22_1" /></td>
      <td><input type="radio" name="answer[answ22]" value="2" id="answer_answ22_2" /></td>
      <td><input type="radio" name="answer[answ22]" value="3" id="answer_answ22_3" /></td>
      <td><input type="radio" name="answer[answ22]" value="4" id="answer_answ22_4" /></td>
    </tr>
    <tr  class="odd">
      <td> 23 </td>
	  <td><%=l(:test1_23)%></td>
      <td><input type="radio" name="answer[answ23]" value="0" id="answer_answ23_0" /></td>
      <td><input type="radio" name="answer[answ23]" value="1" id="answer_answ23_1" /></td>
      <td><input type="radio" name="answer[answ23]" value="2" id="answer_answ23_2" /></td>
      <td><input type="radio" name="answer[answ23]" value="3" id="answer_answ23_3" /></td>
      <td><input type="radio" name="answer[answ23]" value="4" id="answer_answ23_4" /></td>
    </tr>
    <thead>
      <tr>
        <th scope="col"> ## </th>
		<th scope="col"><div align="left"><%=l(:test3_header1)%></div></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tr>
      <td> 24 </td>
	  <td><%=l(:test1_24)%></td>
      <td><input type="checkbox" name="answer[answ24]" id="answer_answ24" /></td>
    </tr>
    <tr class="odd">
      <td> 25 </td>
	  <td><%=l(:test1_25)%></td>
      <td><input type="checkbox" name="answer[answ25]"id="answer_answ25" /></td>
    </tr>
    </tbody>
  </table>
  <br/>
  <table cellspacing="0">
    <!-- <caption><%=l(:test1)%></caption> -->
    <thead>
      <tr>
        <th scope="col"> ## </th>
		<th scope="col"><div align="left"><%=l(:test1_header2)%></div></th>
        <th scope="col">1</th>
        <th scope="col">2</th>
        <th scope="col">3</th>
        <th scope="col">4</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> 26 </td>
		<td><%=l(:test1_26)%></td>
        <td><input type="radio" name="answer[answ26]" value="1" id="answer_answ26_1" /></td>
        <td><input type="radio" name="answer[answ26]" value="2" id="answer_answ26_2" /></td>
        <td><input type="radio" name="answer[answ26]" value="3" id="answer_answ26_3" /></td>
        <td><input type="radio" name="answer[answ26]" value="4" id="answer_answ26_4" /></td>
      </tr>
      <tr class="odd">
        <td> 27 </td>
		<td><%=l(:test1_27)%></td>
        <td><input type="radio" name="answer[answ27]" value="1" id="answer_answ27_1" /></td>
        <td><input type="radio" name="answer[answ27]" value="2" id="answer_answ27_2" /></td>
        <td><input type="radio" name="answer[answ27]" value="3" id="answer_answ27_3" /></td>
        <td><input type="radio" name="answer[answ27]" value="4" id="answer_answ27_4" /></td>
      </tr>
      <tr>
        <td> 28 </td>
		<td><%=l(:test1_28)%></td>
        <td><input type="radio" name="answer[answ28]" value="1" id="answer_answ28_1" /></td>
        <td><input type="radio" name="answer[answ28]" value="2" id="answer_answ28_2" /></td>
        <td><input type="radio" name="answer[answ28]" value="3" id="answer_answ28_3" /></td>
        <td><input type="radio" name="answer[answ28]" value="4" id="answer_answ28_4" /></td>
      </tr>
      <tr class="odd">
        <td> 29 </td>
		<td><%=l(:test1_29)%></td>
        <td><input type="radio" name="answer[answ29]" value="1" id="answer_answ29_1" /></td>
        <td><input type="radio" name="answer[answ29]" value="2" id="answer_answ29_2" /></td>
        <td><input type="radio" name="answer[answ29]" value="3" id="answer_answ29_3" /></td>
        <td><input type="radio" name="answer[answ29]" value="4" id="answer_answ29_4" /></td>
      </tr>
      <tr>
        <td> 30 </td>
		<td><%=l(:test1_30)%></td>
        <td><input type="radio" name="answer[answ30]" value="1" id="answer_answ30_1" /></td>
        <td><input type="radio" name="answer[answ30]" value="2" id="answer_answ30_2" /></td>
        <td><input type="radio" name="answer[answ30]" value="3" id="answer_answ30_3" /></td>
        <td><input type="radio" name="answer[answ30]" value="4" id="answer_answ30_4" /></td>
      </tr>
      <tr class="odd">
        <td> 31 </td>
		<td><%=l(:test1_31)%></td>
        <td><input type="radio" name="answer[answ31]" value="1" id="answer_answ31_1" /></td>
        <td><input type="radio" name="answer[answ31]" value="2" id="answer_answ31_2" /></td>
        <td><input type="radio" name="answer[answ31]" value="3" id="answer_answ31_3" /></td>
        <td><input type="radio" name="answer[answ31]" value="4" id="answer_answ31_4" /></td>
      </tr>
      <tr>
        <td> 32 </td>
		<td><%=l(:test1_32)%></td>
        <td><input type="radio" name="answer[answ32]" value="1" id="answer_answ32_1" /></td>
        <td><input type="radio" name="answer[answ32]" value="2" id="answer_answ32_2" /></td>
        <td><input type="radio" name="answer[answ32]" value="3" id="answer_answ32_3" /></td>
        <td><input type="radio" name="answer[answ32]" value="4" id="answer_answ32_4" /></td>
      </tr>
      <tr class="odd">
        <td> 33 </td>
		<td><%=l(:test1_33)%></td>
        <td><input type="radio" name="answer[answ33]" value="1" id="answer_answ33_1" /></td>
        <td><input type="radio" name="answer[answ33]" value="2" id="answer_answ33_2" /></td>
        <td><input type="radio" name="answer[answ33]" value="3" id="answer_answ33_3" /></td>
        <td><input type="radio" name="answer[answ33]" value="4" id="answer_answ33_4" /></td>
      </tr>
      <tr>
        <td> 34 </td>
		<td><%=l(:test1_34)%></td>
        <td><input type="radio" name="answer[answ34]" value="1" id="answer_answ34_1" /></td>
        <td><input type="radio" name="answer[answ34]" value="2" id="answer_answ34_2" /></td>
        <td><input type="radio" name="answer[answ34]" value="3" id="answer_answ34_3" /></td>
        <td><input type="radio" name="answer[answ34]" value="4" id="answer_answ34_4" /></td>
      </tr>
      <tr class="odd">
        <td> 35 </td>
		<td><%=l(:test1_35)%></td>
        <td><input type="radio" name="answer[answ35]" value="1" id="answer_answ35_1" /></td>
        <td><input type="radio" name="answer[answ35]" value="2" id="answer_answ35_2" /></td>
        <td><input type="radio" name="answer[answ35]" value="3" id="answer_answ35_3" /></td>
        <td><input type="radio" name="answer[answ35]" value="4" id="answer_answ35_4" /></td>
      </tr>
      <tr>
        <td> 36 </td>
		<td><%=l(:test1_36)%></td>
        <td><input type="radio" name="answer[answ36]" value="1" id="answer_answ36_1" /></td>
        <td><input type="radio" name="answer[answ36]" value="2" id="answer_answ36_2" /></td>
        <td><input type="radio" name="answer[answ36]" value="3" id="answer_answ36_3" /></td>
        <td><input type="radio" name="answer[answ36]" value="4" id="answer_answ36_4" /></td>
      </tr>
      <tr class="odd">
        <td>37</td>
		<td><%=l(:test1_37)%></td>
        <td><input type="radio" name="answer[answ37]" value="1" id="answer_answ37_1" /></td>
        <td><input type="radio" name="answer[answ37]" value="2" id="answer_answ37_2" /></td>
        <td><input type="radio" name="answer[answ37]" value="3" id="answer_answ37_3" /></td>
        <td><input type="radio" name="answer[answ37]" value="4" id="answer_answ37_4" /></td>
      </tr>
      <tr>
        <td>38</td>
		<td><%=l(:test1_38)%></td>
        <td><input type="radio" name="answer[answ38]" value="1" id="answer_answ38_1" /></td>
        <td><input type="radio" name="answer[answ38]" value="2" id="answer_answ38_2" /></td>
        <td><input type="radio" name="answer[answ38]" value="3" id="answer_answ38_3" /></td>
        <td><input type="radio" name="answer[answ38]" value="4" id="answer_answ38_4" /></td>
      </tr>
      <tr class="odd">
        <td>39</td>
		<td><%=l(:test1_39)%></td>
        <td><input type="radio" name="answer[answ39]" value="1" id="answer_answ39_1" /></td>
        <td><input type="radio" name="answer[answ39]" value="2" id="answer_answ39_2" /></td>
        <td><input type="radio" name="answer[answ39]" value="3" id="answer_answ39_3" /></td>
        <td><input type="radio" name="answer[answ39]" value="4" id="answer_answ39_4" /></td>
      </tr>
      <tr>
        <td>40</td>
		<td><%=l(:test1_40)%></td>
        <td><input type="radio" name="answer[answ40]" value="1" id="answer_answ40_1" /></td>
        <td><input type="radio" name="answer[answ40]" value="2" id="answer_answ40_2" /></td>
        <td><input type="radio" name="answer[answ40]" value="3" id="answer_answ40_3" /></td>
        <td><input type="radio" name="answer[answ40]" value="4" id="answer_answ40_4" /></td>
      </tr>
      <tr class="odd">
        <td>41</td>
		<td><%=l(:test1_41)%></td>
        <td><input type="radio" name="answer[answ41]" value="1" id="answer_answ41_1" /></td>
        <td><input type="radio" name="answer[answ41]" value="2" id="answer_answ41_2" /></td>
        <td><input type="radio" name="answer[answ41]" value="3" id="answer_answ41_3" /></td>
        <td><input type="radio" name="answer[answ41]" value="4" id="answer_answ41_4" /></td>
      </tr>
      <tr>
        <td>42</td>
		<td><%=l(:test1_42)%></td>
        <td><input type="radio" name="answer[answ42]" value="1" id="answer_answ42_1" /></td>
        <td><input type="radio" name="answer[answ42]" value="2" id="answer_answ42_2" /></td>
        <td><input type="radio" name="answer[answ42]" value="3" id="answer_answ42_3" /></td>
        <td><input type="radio" name="answer[answ42]" value="4" id="answer_answ42_4" /></td>
      </tr>
      <tr class="odd">
        <td>43</td>
		<td><%=l(:test1_43)%></td>
        <td><input type="radio" name="answer[answ43]" value="1" id="answer_answ43_1" /></td>
        <td><input type="radio" name="answer[answ43]" value="2" id="answer_answ43_2" /></td>
        <td><input type="radio" name="answer[answ43]" value="3" id="answer_answ43_3" /></td>
        <td><input type="radio" name="answer[answ43]" value="4" id="answer_answ43_4" /></td>
      </tr>
      <tr>
        <td>44</td>
		<td><%=l(:test1_44)%></td>
        <td><input type="radio" name="answer[answ44]" value="1" id="answer_answ44_1" /></td>
        <td><input type="radio" name="answer[answ44]" value="2" id="answer_answ44_2" /></td>
        <td><input type="radio" name="answer[answ44]" value="3" id="answer_answ44_3" /></td>
        <td><input type="radio" name="answer[answ44]" value="4" id="answer_answ44_4" /></td>
      </tr>
      <tr class="odd">
        <td>45</td>
		<td><%=l(:test1_45)%></td>
        <td><input type="radio" name="answer[answ45]" value="1" id="answer_answ45_1" /></td>
        <td><input type="radio" name="answer[answ45]" value="2" id="answer_answ45_2" /></td>
        <td><input type="radio" name="answer[answ45]" value="3" id="answer_answ45_3" /></td>
        <td><input type="radio" name="answer[answ45]" value="4" id="answer_answ45_4" /></td>
      </tr>
      <tr>
        <td>46</td>
		<td><%=l(:test1_46)%></td>
        <td><input type="radio" name="answer[answ46]" value="1" id="answer_answ46_1" /></td>
        <td><input type="radio" name="answer[answ46]" value="2" id="answer_answ46_2" /></td>
        <td><input type="radio" name="answer[answ46]" value="3" id="answer_answ46_3" /></td>
        <td><input type="radio" name="answer[answ46]" value="4" id="answer_answ46_4" /></td>
      </tr>
      <tr class="odd">
        <td>47</td>
		<td><%=l(:test1_47)%></td>
        <td><input type="radio" name="answer[answ47]" value="1" id="answer_answ47_1" /></td>
        <td><input type="radio" name="answer[answ47]" value="2" id="answer_answ47_2" /></td>
        <td><input type="radio" name="answer[answ47]" value="3" id="answer_answ47_3" /></td>
        <td><input type="radio" name="answer[answ47]" value="4" id="answer_answ47_4" /></td>
      </tr>
      <tr>
        <td>48</td>
		<td><%=l(:test1_48)%></td>
        <td><input type="radio" name="answer[answ48]" value="1" id="answer_answ48_1" /></td>
        <td><input type="radio" name="answer[answ48]" value="2" id="answer_answ48_2" /></td>
        <td><input type="radio" name="answer[answ48]" value="3" id="answer_answ48_3" /></td>
        <td><input type="radio" name="answer[answ48]" value="4" id="answer_answ48_4" /></td>
      </tr>
      <tr class="odd">
        <td>49</td>
		<td><%=l(:test1_49)%></td>
        <td><input type="radio" name="answer[answ49]" value="1" id="answer_answ49_1" /></td>
        <td><input type="radio" name="answer[answ49]" value="2" id="answer_answ49_2" /></td>
        <td><input type="radio" name="answer[answ49]" value="3" id="answer_answ49_3" /></td>
        <td><input type="radio" name="answer[answ49]" value="4" id="answer_answ49_4" /></td>
      </tr>
      <tr>
        <td>50</td>
		<td><%=l(:test1_50)%></td>
        <td><input type="radio" name="answer[answ50]" value="1" id="answer_answ50_1" /></td>
        <td><input type="radio" name="answer[answ50]" value="2" id="answer_answ50_2" /></td>
        <td><input type="radio" name="answer[answ50]" value="3" id="answer_answ50_3" /></td>
        <td><input type="radio" name="answer[answ50]" value="4" id="answer_answ50_4" /></td>
      </tr>
      <tr class="odd">
        <td>51</td>
		<td><%=l(:test1_51)%></td>
        <td><input type="radio" name="answer[answ51]" value="1" id="answer_answ51_1" /></td>
        <td><input type="radio" name="answer[answ51]" value="2" id="answer_answ51_2" /></td>
        <td><input type="radio" name="answer[answ51]" value="3" id="answer_answ51_3" /></td>
        <td><input type="radio" name="answer[answ51]" value="4" id="answer_answ51_4" /></td>
      </tr>
      <tr>
        <td>52</td>
		<td><%=l(:test1_52)%></td>
        <td><input type="radio" name="answer[answ52]" value="1" id="answer_answ52_1" /></td>
        <td><input type="radio" name="answer[answ52]" value="2" id="answer_answ52_2" /></td>
        <td><input type="radio" name="answer[answ52]" value="3" id="answer_answ52_3" /></td>
        <td><input type="radio" name="answer[answ52]" value="4" id="answer_answ52_4" /></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <table cellspacing="0">
    <!-- <caption><%=l(:test1)%></caption> -->
    <thead>
      <tr>
        <th scope="col"> ## </th>
		<th scope="col"><div align="left"><%=l(:test1_header4)%></div></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>53</td>
		<td><%=l(:test1_53)%></td>
        <td> 	<select name="answer[answ53]" id="answer_answ53">
	  <option value="0">0</option>
	  <option value="10">10</option>
	  <option value="20">20</option>
	  <option value="30">30</option>
	  <option value="40">40</option>
	  <option value="50">50</option>
	  <option value="60">60</option>
	  <option value="70">70</option>
	  <option value="80">80</option>
	  <option value="90">90</option>
	  <option value="100">100</option>
	  </select>
</td>
      </tr>
		<tr class="odd">
        <td>54</td>
		<td><%=l(:test1_54)%></td>
        <td> 	<select name="answer[answ54]" id="answer_answ54">
		  <option value="0">0</option>
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		  <option value="50">50</option>
		  <option value="60">60</option>
		  <option value="70">70</option>
		  <option value="80">80</option>
		  <option value="90">90</option>
		  <option value="100">100</option>
		  </select>
	</td>
      </tr>
	<tr>
        <td>55</td> 
		<td><%=l(:test1_55)%></td>
        <td> 	<select name="answer[answ55]" id="answer_answ55">
		  <option value="0">0</option>
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		  <option value="50">50</option>
		  <option value="60">60</option>
		  <option value="70">70</option>
		  <option value="80">80</option>
		  <option value="90">90</option>
		  <option value="100">100</option>
		  </select>
	</td>
      </tr>
		<tr class="odd">
		 <td>56</td>
        <td><%=l(:test1_56)%></td>
        <td> 	<select name="answer[answ56]" id="answer_answ56">
		  <option value="0">0</option>
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		  <option value="50">50</option>
		  <option value="60">60</option>
		  <option value="70">70</option>
		  <option value="80">80</option>
		  <option value="90">90</option>
		  <option value="100">100</option>
		  </select>
	</td>
      </tr>
		<tr>
         <td>57</td>
		<td><%=l(:test1_57)%></td>
        <td> 	<select name="answer[answ57]" id="answer_answ57">
		  <option value="0">0</option>
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		  <option value="50">50</option>
		  <option value="60">60</option>
		  <option value="70">70</option>
		  <option value="80">80</option>
		  <option value="90">90</option>
		  <option value="100">100</option>
		  </select>
	</td>
      </tr>
		<tr class="odd">
        <td>58</td>
		<td><%=l(:test1_58)%></td>
        <td> 	<select name="answer[answ58]" id="answer_answ58">
		  <option value="0">0</option>
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		  <option value="50">50</option>
		  <option value="60">60</option>
		  <option value="70">70</option>
		  <option value="80">80</option>
		  <option value="90">90</option>
		  <option value="100">100</option>
		  </select>
	</td>
      </tr>
		<tr>
          <td>59</td>
		  <td><%=l(:test1_59)%></td>
        <td> 	<select name="answer[answ59]" id="answer_answ59">
		  <option value="0">0</option>
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		  <option value="50">50</option>
		  <option value="60">60</option>
		  <option value="70">70</option>
		  <option value="80">80</option>
		  <option value="90">90</option>
		  <option value="100">100</option>
		  </select>
	</td>
      </tr>
		<tr class="odd">
        <td>60</td>
		<td><%=l(:test1_60)%></td>
        <td> 	<select name="answer[answ60]" id="answer_answ60">
		  <option value="0">0</option>
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		  <option value="50">50</option>
		  <option value="60">60</option>
		  <option value="70">70</option>
		  <option value="80">80</option>
		  <option value="90">90</option>
		  <option value="100">100</option>
		  </select>
	</td>
      </tr>
      <tr>
        <td>61</td>
		<td><%=l(:test1_61)%></td>
        <td> 	<select name="answer[answ61]" id="answer_answ61">
		  <option value="0">0</option>
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		  <option value="50">50</option>
		  <option value="60">60</option>
		  <option value="70">70</option>
		  <option value="80">80</option>
		  <option value="90">90</option>
		  <option value="100">100</option>
		  </select>
	</td>
      </tr>
      <tr class="odd">
        <td>62</td>
		<td><%=l(:test1_62)%></td>
        <td> 	<select name="answer[answ62]" id="answer_answ62">
		  <option value="0">0</option>
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		  <option value="50">50</option>
		  <option value="60">60</option>
		  <option value="70">70</option>
		  <option value="80">80</option>
		  <option value="90">90</option>
		  <option value="100">100</option>
		  </select>
	</td>
      </tr>
      <tr>
        <td> 63 </td>
		<td><%=l(:test1_63)%></td>
        <td> 	<select name="answer[answ63]" id="answer_answ63">
		  <option value="0">0</option>
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		  <option value="50">50</option>
		  <option value="60">60</option>
		  <option value="70">70</option>
		  <option value="80">80</option>
		  <option value="90">90</option>
		  <option value="100">100</option>
		  </select>
	</td>
      </tr>
      <tr class="odd">
        <td>64</td>
		<td><%=l(:test1_64)%></td>
        <td> 	<select name="answer[answ64]" id="answer_answ64">
		  <option value="0">0</option>
		  <option value="10">10</option>
		  <option value="20">20</option>
		  <option value="30">30</option>
		  <option value="40">40</option>
		  <option value="50">50</option>
		  <option value="60">60</option>
		  <option value="70">70</option>
		  <option value="80">80</option>
		  <option value="90">90</option>
		  <option value="100">100</option>
		  </select>
	</td>
      </tr>
    </tbody>
  </table>
  <br/>
  <p><%= submit_tag l(:button_save) %></p>
</center>
<%= link_to 'Back', answers_path %>