<!-- test1 -->
<%=javascript_include_tag 'charts.js' %>

<center>
  <%= @chart1%>
</center>
<div align="center">
  <div id="values"> <%=l(:test3_valor_0)%> • <%=l(:test3_valor_1)%> • <%=l(:test3_valor_2)%> • <%=l(:test3_valor_3)%> • <%=l(:test3_valor_4)%> <br/>
    <br/>
  </div>
  <table cellspacing="0">
    <!-- <caption><%=l(:test3)%></caption> -->
    <thead>
      <tr>
        <th scope="col"><%=l(:test3_header1)%></th>
        <th scope="col">0/6</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%=l(:test3_1)%></td>
        <td><%=@answer.answ1%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test3_2)%></td>
        <td><%=@answer.answ2%></td>
      </tr>
      <tr>
        <td><%=l(:test3_3)%></td>
        <td><%=@answer.answ3%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test3_4)%></td>
        <td><%=@answer.answ4%></td>
      </tr>
      <tr>
        <td><%=l(:test3_5)%></td>
        <td><%=@answer.answ5%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test3_6)%></td>
        <td><%=@answer.answ6%></td>
      </tr>
      <tr>
        <td><%=l(:test3_7)%></td>
        <td><%=@answer.answ7%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test3_8)%></td>
        <td><%=@answer.answ8%></td>
      </tr>
      <tr>
        <td><%=l(:test3_9)%></td>
        <td><%=@answer.answ9%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test3_10)%></td>
        <td><%=@answer.answ10%></td>
      </tr>
      <tr>
        <td><%=l(:test3_11)%></td>
        <td><%=@answer.answ11%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test3_12)%></td>
        <td><%=@answer.answ12%></td>
      </tr>
      <tr>
        <td><%=l(:test3_13)%></td>
        <td><%=@answer.answ13%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test3_14)%></td>
        <td><%=@answer.answ14%></td>
      </tr>
      <tr>
        <td><%=l(:test3_15)%></td>
        <td><%=@answer.answ15%></td>
      </tr>
    </tbody>
  </table>
  <br/>
  <br/>
  <table cellspacing="0">
    <!-- <caption><%=l(:test3)%></caption> -->
    <thead>
      <tr>
        <th scope="col"><%=l(:test1_header2)%></th>
        <th scope="col">0/6</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%=l(:test1_16)%></td>
        <td><%=@answer.answ16%></td>
      </tr>
      <tr  class="odd">
        <td><%=l(:test1_17)%></td>
        <td><%=@answer.answ17%></td>
      </tr>
      <tr>
        <td><%=l(:test1_18)%></td>
        <td><%=@answer.answ18%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test1_19)%></td>
        <td><%=@answer.answ19%></td>
      </tr>
      <tr>
        <td><%=l(:test1_20)%></td>
        <td><%=@answer.answ20%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test1_21)%></td>
        <td><%=@answer.answ21%></td>
      </tr>
      <tr>
        <td><%=l(:test1_22)%></td>
        <td><%=@answer.answ22%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test1_23)%></td>
        <td><%=@answer.answ23%></td>
      </tr>
    <thead>
      <tr>
        <th scope="col"> ## </th>
        <th scope="col"><div align="left"><%=l(:test1_header2)%></div></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tr>
      <td><%=l(:test1_24)%></td>
      <td><%=@answer.answ24%></td>
    </tr>
    <tr>
      <td><%=l(:test1_25)%></td>
      <td><%=@answer.answ25%></td>
    </tr>
    </tbody>
  </table>
  <!-- <tr class="odd">
    <td><%=l(:test1_26)%></td>
    <td><%=@answer.answ26%></td>
  </tr>
  <tr>
    <td><%=l(:test1_27)%></td>
    <td><%=@answer.answ27%></td>
  </tr>
  <tr class="odd">
    <td><%=l(:test1_28)%></td>
    <td><%=@answer.answ28%></td>
  </tr> -->
</div>

