<%=javascript_include_tag 'charts.js' %> 
<CENTER>
<%= @chart1%> 
</CENTER>
<div align="center">
  <table cellspacing="0">
    <!-- <caption><%=l(:test2)%></caption> -->
    <thead>
      <tr>
        <th scope="col"><%=l(:test2_header)%></th>
        <th scope="col">0/6</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%=l(:test2_1)%></td>
        <td><%=answ1%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_2)%></td>
		<td><%=answ2%></td> 
      </tr>
      <tr>
        <td><%=l(:test2_3)%></td>
        <td><%=answ3%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_4)%></td>
        <td><%=answ4%></td>
      </tr>
      <tr>
        <td><%=l(:test2_5)%></td>
        <td><%=answ5%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_6)%></td>
        <td><%=answ6%></td>
      </tr>
      <tr>
        <td><%=l(:test2_7)%></td>
        <td><%=answ7%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_8)%></td>
        <td><%=answ8%></td>
      </tr>
      <tr>
        <td><%=l(:test2_9)%></td>
        <td><%=answ9%></td>
       </tr>
      <tr class="odd">
        <td><%=l(:test2_10)%></td>
        <td><%=answ10%></td>
      </tr>
      <tr>
        <td><%=l(:test2_11)%></td>
        <td><%=answ11%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_12)%></td>
        <td><%=answ12%></td>
      </tr>
      <tr>
        <td><%=l(:test2_13)%></td>
        <td><%=answ13%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_14)%></td>
        <td><%=answ14%></td>
      </tr>
      <tr>
        <td><%=l(:test2_15)%></td>
        <td><%=answ15%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_16)%></td>
        <td><%=answ16%></td>
      </tr>
      <tr>
        <td><%=l(:test2_17)%></td>
        <td><%=answ17%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_18)%></td>
        <td><%=answ18%></td>
      </tr>
      <tr>
        <td><%=l(:test2_19)%></td>
        <td><%=answ19%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_20)%></td>
        <td><%=answ20%></td>
      </tr>
      <tr>
        <td><%=l(:test2_21)%></td>
        <td><%=answ21%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_22)%></td>
        <td><%=answ22%></td>
      </tr>
      <tr>
        <td><%=l(:test2_23)%></td>
        <td><%=answ23%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_24)%></td>
        <td><%=answ24%></td>
      </tr>
      <tr>
        <td><%=l(:test2_25)%></td>
        <td><%=answ25%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_26)%></td>
        <td><%=answ26%></td>
      </tr>
      <tr>
        <td><%=l(:test2_27)%></td>
        <td><%=answ27%></td>
      </tr>
      <tr class="odd">
        <td><%=l(:test2_28)%></td>
        <td><%=answ28%></td>
      </tr>
    </tbody>
  </table>
  <br/>
 
</div>
<%= link_to 'Back', <%=answers_path %>