<h1>Editing book</h1>

<%= error_messages_for :book %>

<% form_for(@book) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
