<%= error_messages_for 'message' %>

<div class="box">
<!--[form:message]-->
<p><label><%= l(:field_subject) %></label><br />

<p><%= f.text_area :content, :required => true, :cols => 80, :rows => 15%></p>
<!--[eoform:message]-->

</div>
