<div class='boxx'>
	<div class='boxxtop'>
	  <div>
	  </div>
	</div> 
	<div class='boxxcontent'>
		  <label><%= l(:label_message) %></label>
		  <textarea name="message" id="message" cols="40" rows="6"></textarea>
	</div>
	<br/>
	<div class='boxxbottom'>
	  <div>
	  </div>
	</div> 
</div>
