
<p><%= l(:mail_body_account_information) %>:</p>
<ul>
    <li><%= l(:field_login) %>: <%= @user.login %></li>
    <li><%= l(:field_password) %>: <%= @password %></li>
</ul>


<p><%= l(:label_login) %>: <%= auto_link(@login_url) %></p>
