@charset "UTF-8";

#signup {
	width: 54em;
	background-color: #f7f4ee;
	font-weight: normal;
}
#theform {
	background-color: #f7f4ee;
	width: 40em;
	text-align: left;
	line-height: 1em;
	font: 135% Verdana, Tahoma, Arial, sans-serif;
}
#theform fieldset {
	height: 25em;
	width: 11em;
	border: 0;
	margin: 0;
	padding: 1em;
	float: left;
}
#theform fieldset legend {
	font-size: 4em;
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #523a0b;
}
#theform fieldset legend span {
	display: none;
}
#theform fieldset h3 {
	height: 4em;
	font-size: 1em;
	color: #523a0b;
}
#theform fieldset div.help {
	color: #B0ABA2;
	font-size: 0.7em;
	font-weight: bold;
	height: 5em;
}
#theform fieldset label {
	font-size: 0.7em;
	display: block;
	line-height: 1.5em;
}
#theform fieldset input {
	font-size: 0.8em;
	height: 1.4em;
}
/* Part 4 Styling */
#theform #pt4 {
	clear: both;
	width: 38em;
	height: 5em;
	border: 0px dotted #999999;
	border-width: 1px 0;
	padding: 1em;
}
#theform #pt4 legend {
	display: none;
}
#theform #pt4 h3 {
	display: none;
}
#theform #pt4 #disclaimer {
	width: 24em;
	float: left;
	font-size: 0.7em;
}
#theform #pt4 input {
	height: 4em;
	font-size: 1.3em;
	width: 14em;
	color: #333333;
	background: #f3f3f3;
	font-weight: bold;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #999999;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	float: right;
}
#copyright {
	clear: both;
	padding: 0em;
	font-size: 0em;
	color: #ebe5d9;
	font-style: italic;
}
.validation-advice {
	margin: 1px 0;
	padding: 3px;
	background-color: #523a0b;
	color : #fff;
	font-weight: normal;
	font: 70% Verdana, Tahoma, Arial, sans-serif;
}
<!--
[if IE]>  #theform #pt4 {
padding: 2em 1em 1em 1em;
}
<![endif]
-->
