<%= @who + @text +" "+ @which +"." %>  

<%- if @competition != nil.to_s -%>
	 <%= l(:label_competition) %>
	 <%= @competition %>
<%- end -%>
<%- if @notes != nil.to_s -%>
	 <%= l(:field_notes) %>
	 <%= simple_format(@notes) %>
<%- end -%>

<%= l(:mail_body_quest2) %>:
        
<%= @url %>      
