<center>
<div class="box login">
<h3><%=l(:label_password_lost)%></h3>

<% form_tag({:action=> "lost_password"}, :class => "tabular") do %>

<p><label for="mail"><%=l(:field_mail)%> <span class="required"></span></label>
<%= text_field_tag 'mail', nil, :size => 26 %></p>

<p><center><%= submit_tag l(:button_save) %></center></p>

<% end %>
</div>
</center>